
@{
    ViewBag.Title = "PGGateway_Airpay";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Munger University -Payment Gateway </title>
    <script>

        $(document).ready(function ()
        { generateAction(); });
             function generateAction()
             {
                   var url='@ViewBag.url';
                 var currency = '@ViewBag.currency';
                 var isocurrency='@ViewBag.isocurrency';
                 var orderid = '@ViewBag.orderid';
                 var buyerEmail='@ViewBag.buyerEmail';
                 var buyerPhone='@ViewBag.buyerPhone';
                 var buyerFirstName='@ViewBag.buyerFirstName';
                 var buyerLastName='@ViewBag.buyerLastName';
                 var buyerPinCode='@ViewBag.buyerPinCode';
                 var amount='@ViewBag.amount';
                 var chmod='@ViewBag.chmod';
                 var checksum='@ViewBag.checksum';
                 var privatekey='@ViewBag.privatekey';
                 var mercid='@ViewBag.mercid';
                 var kittype='@ViewBag.kittype';
                 var successurl = '@ViewBag.success_url';
                 var customvar='@ViewBag.customvar';
                 document.frmPost.currency.value = currency;
                 document.frmPost.isocurrency.value = isocurrency;
                 document.frmPost.orderid.value = orderid;
                 document.frmPost.buyerEmail.value = buyerEmail;
                 document.frmPost.buyerPhone.value = buyerPhone;
                 document.frmPost.buyerFirstName.value = buyerFirstName;
                 document.frmPost.buyerLastName.value = buyerLastName;
                 document.frmPost.buyerPinCode.value = buyerPinCode;
                 document.frmPost.amount.value = amount;
                 document.frmPost.chmod.value = chmod;
                 document.frmPost.checksum.value = checksum;
                 document.frmPost.privatekey.value = privatekey;
                 document.frmPost.mercid.value = mercid;
                 document.frmPost.kittype.value = kittype;
                 document.frmPost.success_url.value = successurl;
                 document.frmPost.customvar.value = customvar;
                 document.frmPost.action = url;
                 document.frmPost.submit();
            }
    </script>
</head>
<body>


    <form name="frmPost" method="post">
        <table width="300px">
            <tr>
                <td width="120px"></td>
                <td width="20px">
                    @*<input type="hidden" name="orderid" value="" />*@
                    <input type="hidden" name="currency" value="" />
                    <input type="hidden" name="isocurrency" value="" />
                    <input type="hidden" name="orderid" value="" />
                    <input type="hidden" name="buyerEmail" value="" />
                    <input type="hidden" name="buyerPhone" value="" />
                    <input type="hidden" name="buyerFirstName" value="" />
                    <input type="hidden" name="buyerLastName" value="" />
                    <input type="hidden" name="buyerPinCode" value="" />
                    <input type="hidden" name="amount" value="" />
                    <input type="hidden" name="chmod" value="" />
                    <input type="hidden" name="checksum" value="" />
                    <input type="hidden" name="privatekey" value="" />
                    <input type="hidden" name="mercid" value="" />
                    <input type="hidden" name="kittype" value="" />
                    <input type="hidden" name="success_url" value="" />
                    <input type="hidden" name="customvar" value="" />
                </td>

                <td>
                    <input type="submit" value="Pay Now" onclick="generateAction();" id="Submit1" name="Submit1" style="display:none" />
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
        <script type="text/javascript">
            window.onload = function () {
                document.frmPost.Submit1.click();
            }
        </script>
    </form>
</body>
</html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>500 Page | Munger University</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.png" />
    <!-- Google Fonts
        ============================================ -->
    <link href="~/Content/https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" />
    <!-- Bootstrap CSS
            =====================================
    <link href="~/Content/~/Content/css/bootstrap.min.css" rel="stylesheet" />======= -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/css/owl.theme.css" />
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css" />
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/normalize.css" />
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/morrisjs/morris.css" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css" />
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu.min.css" />
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu-vertical.css" />
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.print.min.css" />
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/style.css" />
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!-- modernizr JS
        ============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="~/Content/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container footer">
        <div class="d-flex justify-content-between" style="padding-top:30px;">
            <div class="p-1">
            </div>

            <div class="p-1">
                <div class="align-center">
                    <center>
                        <img src="~/images/LeafyFairIchneumonfly-size_restricted.gif" width="400" />
                    </center>
                </div>
                <h4>
                    <p>Please don't Refesh the page OR Click on Back Button.....</p>
                </h4>

                <br />
                <br />
            </div>

            <div class="p-1">
            </div>
        </div>

        <!-- jquery
            ============================================ -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="js/bootstrap.min.js"></script>
        <!-- wow JS
            ============================================ -->
        <script src="js/wow.min.js"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="js/jquery-price-slider.js"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="js/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- sticky JS
            ============================================ -->
        <script src="js/jquery.sticky.js"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="js/jquery.scrollUp.min.js"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
        <!-- metisMenu JS
            ============================================ -->
        <script src="js/metisMenu/metisMenu.min.js"></script>
        <script src="js/metisMenu/metisMenu-active.js"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="js/counterup/jquery.counterup.min.js"></script>
        <script src="js/counterup/waypoints.min.js"></script>
        <script src="js/counterup/counterup-active.js"></script>
        <!-- morrisjs JS
            ============================================ -->
        <script src="js/sparkline/jquery.sparkline.min.js"></script>
        <script src="js/sparkline/jquery.charts-sparkline.js"></script>
        <!-- calendar JS
            ============================================ -->
        <script src="js/calendar/moment.min.js"></script>
        <script src="js/calendar/fullcalendar.min.js"></script>
        <script src="js/calendar/fullcalendar-active.js"></script>
        <!-- tab JS
            ============================================ -->
        <script src="js/tab.js"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="js/plugins.js"></script>
        <!-- main JS
            ============================================ -->
        <script src="js/main.js"></script>
        <!-- tawk chat JS
            ============================================ -->
        <script src="js/tawk-chat.js"></script>
    </div>

</body>

</html>




