@model DataLayer.BL_PrintAllRecord
@{
    ViewBag.Title = "ApplyAdmission";
    Layout = "~/Areas/StudentPG/Views/Shared/_LayoutStudentPG.cshtml";
    var applicationno = @DataLayer.ClsLanguage.GetCookies("NBApplicationNo");
}
<script src="~/scripts/Customjs/ApplyAdmission.js?id=@System.Configuration.ConfigurationManager.AppSettings["Commonjs"]""></script>
<style>
    label {
        padding: 10px;
    }

    .starvalid {
        color: red;
    }
 
    .minheight {
        min-height: 500px;
    }
</style>
<div class="container-fluid">
    <div class="all-content-wrapper " style="margin-left:0px !important">
        <!-- Advanced Form Start -->
        <div class="advanced-form-area mg-b-15 sparkline-list">
@if (ViewBag.IsApplied != true)
{
    if (ViewBag.Status == true)
    {
        if (ViewBag.addmissionExtenddate == true && ViewBag.addmissionStartdate == true)
        {
            <div id="dvContents" name="Grid">
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:13px;">
                    <h1 style="text-align:center; padding:15px 0; font-size:22px;">Admission Form</h1>
                    <table width="90%" align="center" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; ">
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                        <td colspan="3" style="padding:15px 15px 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="40%" alight="left">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Application No.</label></td>
                                                                <td width="80%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="Applicationpp">@Model.ObjApplication.ApplicationNo</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="20%" alight="left">&nbsp;</td>
                                                    <td width="40%" alighn="right">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Allocated Course</label></td>
                                                                <td width="80%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="AppliedCoursepp">@Model.ObjApplication.CourseCategory</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                        <td colspan="3" style="padding:15px 15px 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="40%" alight="left">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Allocated College</label></td>
                                                                <td width="80%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="Applicationpp">@Model.ObjApplication.CollegeName</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="20%" alight="left">&nbsp;</td>
                                                    <td width="40%" alighn="right">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Allocated Subject</label></td>
                                                                <td width="80%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="AppliedCoursepp">@Model.ObjApplication.StreamName</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><h2 style="color:#06056c; font-size:16px; padding:25px 15px 0;">Name of the Board from which you have passed the Intermediate exam.</h2></td>
                        </tr>

                        <tr>
                            <td colspan="2" width="90%" style="padding:15px;" valign="top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                        <td width="33%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Name of the Examination Board <br> प्रवेश श्रेणी @*<img src="~/Img/cateprint.png" class="hindi-text" />*@</label></td>
                                        <td width="34%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Year of Passing <br>  उत्तीर्ण होने का वर्ष</label></td>
                                        <td width="33%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Date of Birth  <br> जन्म की तारीख</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="33%" style="border:1px solid #666; border-right:0; padding:10px;" id="BoardName">@Model.ObjApplication.board_universityName<span style="color:#666;"></span></td>
                                        <td width="34%" style="border:1px solid #666; border-right:0; padding:10px;" id="Passingyear">@Model.ObjApplication.passingyear<span style="color:#666;"></span></td>
                                        <td width="33%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="DOB">@Model.ObjApplication.DOB</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Applicant's Name<br> आवेदक का नाम</label></td>
                                                    <td style="border:1px solid #666; padding:10px; width:80%;"><label><span style="color:#666;" id="Name">@Model.ObjApplication.Name </span></label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Father's Name<br> आवेदक के पिता का नाम</label></td>
                                                    <td style="border:1px solid #666; padding:10px; width:80%;"><label><span style="color:#666;" id="FatherName">@Model.ObjApplication.FatherName</span></label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Mother's Name <br> आवेदक के माता का नाम</label></td>
                                                    <td style="border:1px solid #666; padding:10px; width:80%;"><label><span style="color:#666;" id="MotherName">@Model.ObjApplication.MotherName</span></label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10%" valign="top" style="padding-top:51px; margin-right:20px;">
                                <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="border:1px solid #666;"><img width="160px" id="userImage" onerror="this.src='../../images/noimage.png';" src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.ObjApplication.stphoto"></td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="border:1px solid #666; padding:5px; "><img width="140px" id="userSign" onerror="this.src='../../images/No-SignatureAVE.jpg';" src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.ObjApplication.stsign"></td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3"><h2 style="color:#06056c; font-size:16px; padding:15px 15px 0;">Details of Mark Secured in Intermediate Examination  </h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding:15px 15px 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                <tr>
                                                    <td width="60%"><label style="font-weight:bold;">Stream / संकाय</label></td>
                                                    <td width="40%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="lblintermediatestream">@Model.ObjApplication.intermediatstream</span></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <div id="intermidatesubjectys">
                                                            <table width='100%' border='0' cellspacing='0' cellpadding='0' style='border:1px solid #666; text-align:left;'>
                                                                <tr>
                                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Sr.No</span></th>

                                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Subject Name</span></th>

                                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Total Marks</span></th>

                                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Marks Obtained</span></th>

                                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Percentage</span></th>
                                                                </tr>
                                                                @{ int i = 1;}
                                                                @foreach (var item in Model.ObjIntermidataeSubjects)
                                                                {
                                                                    <tr>
                                                                        <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@i</span></td>
                                                                        <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.SubjectName</span> </td>
                                                                        <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.TotalMarks</span></td>
                                                                        <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.MarksObtain</span></td>
                                                                        <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.SubjectPercentage</span></td>
                                                                    </tr>
                                                                    i = i + 1;
                                                                }
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="90%"><label style="font-weight:bold;">Document List / दस्तावेज़ सूची</label></td>
                                                    @*<td width="10%" style="border:1px solid #666; padding:10px;"><span style="color:#666;">Science</span></td>*@
                                                </tr>

                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <div id="document">
                                                            <table width='100%' border='0' cellspacing='0' cellpadding='0' style='border: 1px solid #ccc;'>
                                                                <tr>
                                                                    <th width="20%" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:10px 15px; width:40px;">S. No.</th>

                                                                    <th width="40%" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:10px 15px;">Document</th>

                                                                    @*<th width="40%" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Status</th>*@

                                                                    <th width="40%" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Document Preview</th>
                                                                </tr>
                                                                @{ int j = 1;}
                                                                @foreach (var item in Model.ObjDocument)
                                                                {
                                                                    <tr>
                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@j</td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.DocumentType </td>

                                                                        @*<td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.DocStatus</td>*@
                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">
                                                                            <a title="View" href="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Document/@item.FileName" target="_blank" class="btn btn-info btn-sm">View</a>

                                                                        </td>
                                                                    </tr>
                                                                    j = j + 1;
                                                                }
                                                            </table>


                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="90%"><label style="font-weight:bold;">Educational Qualification / शैक्षिक योग्यता</label></td>
                                                    @*<td width="10%" style="border:1px solid #666; padding:10px;"><span style="color:#666;">Science</span></td>*@
                                                </tr>
                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <div id="Qualification">
                                                            <table width='100%' border='0' cellspacing='0' cellpadding='0' style='border: 1px solid #ccc;'>
                                                                <tr>
                                                                    <th width="8%" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">S. No.</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:10px 15px;">Qualification</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Board</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Roll No</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Percentage</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Passing Year</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Document</th>
                                                                </tr>
                                                                @{ int k = 1;}
                                                                @foreach (var item in Model.ObjQualification)
                                                                {
                                                                    <tr>
                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@k</td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.Qualication </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.Board </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.RollNo </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.Percentage </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.PassingYear</td>
                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">
                                                                            <a title="View" href="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Document/@item.DocumentURl" target="_blank" class="btn btn-info btn-sm">View</a>

                                                                        </td>
                                                                    </tr>
                                                                    k = k + 1;
                                                                }
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="5"><h2 style="color:#06056c; font-size:16px; padding:15px 15px 0 0;">Personal Details / व्यक्तिगत विवरण</h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Gender / लिंग</label></td>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Nationality / @*<img src="~/Img/printnational.png" class="hindi-text" />*@(राष्ट्रीयता) :</label></td>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Religion / धर्म :</label></td>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Blood Group / रक्त समूह :</label></td>
                                        <td width="15%">
                                            <label style="font-weight:bold;">
                                                <span style="color:#e51515;"></span>Category/
                                                जाति की श्रेणी
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;" id="Gender">@Model.ObjApplication.Gender</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;" id="Nationality">@Model.ObjApplication.NewNationality</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;" id="Religion">@Model.ObjApplication.NewReligion</span></td>
                                        <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="BloodGroup">@Model.ObjApplication.BloodGroup</span></td>
                                        <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="castecategory">@Model.ObjApplication.CastCategory</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3"><h2 style="color:#06056c; font-size:16px; padding:15px 15px 0;">Correspondence Address / पत्राचार@*<img src="~/Img/printpatrachar.png" />*@ का पता </h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding:15px 15px 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                <tr>
                                                    <td width="10%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>State / राज्य</label></td>
                                                    <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CAstate">@Model.ObjApplication.CA_State</span></td>
                                                    <td width="15px">&nbsp;</td>
                                                    <td width="13%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>District / जिला</label></td>
                                                    <td width="15%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CAdistrict">@Model.ObjApplication.CA_City</span></td>
                                                    <td width="15px">&nbsp;</td>
                                                    <td width="15%"><label style="font-weight:bold;"><span style="color:#e51515;"></span> Address / पता</label></td>
                                                    <td style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CAaddress">@Model.ObjApplication.CurrentAddress</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td width="10%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>PIN Code / पिन कोड</label></td>
                                                    <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CApincode">@Model.ObjApplication.CA_PinCode</span></td>
                                                    <td width="15px">&nbsp;</td>
                                                    <td width="13%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Mobile No. / मोबाइल नंबर</label></td>
                                                    <td width="15%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="Mobile"></span>@Model.ObjApplication.MobileNo</td>
                                                    <td width="15px">&nbsp;</td>
                                                 <td width="13%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Email /ईमेल</label></td>
                                                    <td width="15%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="Mobile"></span>@Model.ObjApplication.Email</td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>


                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3" style="padding:0 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="5"><h2 Blood Grouph2 style="color:#06056c; font-size:16px; padding:15px 15px 0 0;">Weightage Details</h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>PHYSICAL DISABLED </label></td>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>NCC </label></td>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>SPORTS QUOTA</label></td>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>EX-SERVICEMEN </label></td>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>WARD</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lbldisabled"></span>@(Model.ObjApplication.ishandicapped == true ? "Yes" : "No")</td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblNCC">@(Model.ObjApplication.is_ncc_candidate == true ? "Yes" : "No")</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblsports">@(Model.ObjApplication.IsSports == true ? "Yes" : "No")</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblExServiceman">@(Model.ObjApplication.isex_service_man == true ? "Yes" : "No")</span></td>
                                        <td width="20%" style="border:1px solid #666; padding:10px;text-align:center;"><span style="color:#666;" id="lblward">@(Model.ObjApplication.IsStaff == true ? "Yes" : "No")</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>



                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>




                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>


                    </table>
                </div>
                @if (ViewBag.IsApplied != true)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary waves-effect waves-light aligncenter" id="submitapp">Admission Apply</button>
                        </div>
                    </div>
                }
            </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="minheight ">

                                                                            <div class="advanced-form-area mg-b-15 ">
                                                                                <div class="container-fluid col-md-10 col-md-offset-1 col-sm-12 " style="display:block" id="">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                            <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="text-align: left;">

                                                                                                <div class="sparkline10-graph">
                                                                                                    <div class="input-knob-dial-wrap">
                                                                                                        <div>
                                                                                                            <div class="form-group-inner">
                                                                                                                <div class="row login-btn-inner" style="margin:15px !important">
                                                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                                                                                        <div class="">

                                                                                                                            <center>
                                                                                                                                <a style="color:red;font-size:60px"><span class="fa fa-times "></span></a><br /><br />
                                                                                                                                @*<h3>Thank you for applying. The purpose of this message is to inform you that your application No.@applicationno  is under consideration at this time. We will inform you shortly.</h3>*@
                                                                                                                                @if (@ViewBag.addmissionStartdateValue != null && @ViewBag.addmissionExtenddateValue != null)
                                                                                                                                {
                                                                                                                                <h3>Date for admission apply  is between @ViewBag.addmissionStartdateValue to @ViewBag.addmissionExtenddateValue</h3>

                                                                                                                                }
                                                                                                                               
                                                                                                                            </center>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>





                                                                                                            </div>

                                                                                                        </div>


                                                                                                    </div>


                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="minheight ">

                                                                            <div class="advanced-form-area mg-b-15 ">
                                                                                <div class="container-fluid col-md-10 col-md-offset-1 col-sm-12 " style="display:block" id="">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                            <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="text-align: left;">

                                                                                                <div class="sparkline10-graph">
                                                                                                    <div class="input-knob-dial-wrap">
                                                                                                        <div>
                                                                                                            <div class="form-group-inner">
                                                                                                                <div class="row login-btn-inner" style="margin:15px !important">
                                                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                                                                                        <div class="">

                                                                                                                            <center>
                                                                                                                                <a style="color:red;font-size:60px"><span class="fa fa-times "></span></a><br /><br />
                                                                                                                                <h3>You are not authorized to access this page!!!</h3>
                                                                                                                               
                                                                                                                            </center>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>





                                                                                                            </div>

                                                                                                        </div>


                                                                                                    </div>


                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                                <div class="minheight ">

                                                                                    <div class="advanced-form-area mg-b-15 ">
                                                                                        <div class="container-fluid col-md-10 col-md-offset-1 col-sm-12 " style="display:block" id="">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                    <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="text-align: left;">

                                                                                                        <div class="sparkline10-graph">
                                                                                                            <div class="input-knob-dial-wrap">
                                                                                                                <div>
                                                                                                                    <div class="form-group-inner">
                                                                                                                        <div class="row login-btn-inner" style="margin:15px !important">
                                                                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                                                                                                <div class="">

                                                                                                                                    <center>
                                                                                                                                        <a style="color:red;font-size:60px"><span class="fa fa-times "></span></a><br /><br />
                                                                                                                                        
                                                                                                                                        @if (ViewBag.IsDocVerify == 0)
                                                                                                                                        {
                                                                                                                                            <h3>
                                                                                                                                                You have applied on @ViewBag.IsAppliedDate for Admission in Under Graduate!!!!
                                                                                                                                                Please visit the allocated college and verify your document.
                                                                                                                                            </h3>
                                                                                                                                        }
                                                                                                                                        else if (ViewBag.IsDocVerify == 1)
                                                                                                                                        {
                                                                                                                                            <h3>
                                                                                                                                                Your document verification is done on @ViewBag.IsDocVerifyDate!!!
                                                                                                                                                Please submit fee for completing your Admission Process.
                                                                                                                                            </h3>
                                                                                                                                        }
                                                                                                                                        else if (ViewBag.IsDocVerify == 2)
                                                                                                                                        {
                                                                                                                                            <h3>
                                                                                                                                                Your documents for UG admission are rejected!!! 
                                                                                                                                                @if (ViewBag.rejectreason != "")
                                                                                                                                                {
                                                                                                                                                    <div> Due to-@ViewBag.rejectreason Reason on  @ViewBag.IsDocVerifyDate.</div>
                                                                                                                                                }
                                                                                                                                            </h3>
                                                                                                                                        }
                                                                                                                                    </center>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>





                                                                                                                    </div>

                                                                                                                </div>


                                                                                                            </div>


                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }

        </div>
    </div>
</div>

