@model DataLayer.BL_PrintAllRecord
@{
    ViewBag.Title = "FeesSubmit";
    Layout = "~/Areas/StudentBEd/Views/Shared/_LayoutStudentBEd.cshtml";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
<script>
    var photurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+Model.ObjApplication.stphoto)";
    var signurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+ Model.ObjApplication.stsign)";
    var logo1 = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["siteUrl"] + "/images/mu-logo-white.png")";
    $(function () {
        encodeImage(photurl);
        encodeImage1(signurl);
        encodeImage2(logo1);
        encodeImage3(logo1);
    });

</script>
<script type="text/javascript">
    function encodeImage(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("userImage");
        img.onload = function () {
            canvas.width = 160;
            canvas.height = 150;
            ctx.drawImage(img, 0, 0, 160, 150);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    function encodeImage1(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("userSign");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    function encodeImage2(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    function encodeImage3(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo2");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
</script>

<script src="~/scripts/Customjs/FeessubmitBED.js?id=@System.Configuration.ConfigurationManager.AppSettings["StudentQualification"]"></script>
<div class="container-fluid">
    @{

        if (TempData["msgfees"] == null) { }
        else
        {
            <div class="alert-wrap1 shadow-inner wrap-alert-b">

                <div class="alert alert-success " role="alert" style="text-align:center !important">
                    <div>@TempData["msgfees"]</div>

                </div>
            </div>
        }
    }
    <div class="sparkline8-list DocumentUpload">
        <div class="row">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2">

                <div class="sparkline8-hd">
                    <div class="tab-content-details shadow-reset">
                        <h3 id="pageheading">Registration
                         @if (Model.objfeesubmit.FeeStatus == "Paid")
                        {<span> Fees Acknowledgement </span>
                        }
                        else
                        { <span> Fees Submit </span>}</h3>
@if (Model != null)
{
    if (Model.objfeesubmit != null)
    {
        if (Model.objfeesubmit.IsFeeSubmit != null)
        {
            if (Model.objfeesubmit.IsFeeSubmit == "0")
            {
                if (ViewBag.check_admissionopen == false)
                {


                            <center>
                                <a style="color:red;font-size:30px"><span class="fa fa-times "></span></a><br /><br />
                                <h4>Application registration for UG- stream has been closed. You can not complete the application. !!</h4>

                            </center>



                }
            }
        }
    }
}  @*<center>
    <a style="color:red;font-size:30px"></a><br /><br />
    <h4>Please check all the detail before submit the Registration Fee. You can't Change the Detail after Fees Submitting. !!</h4>

</center>*@
                    </div>
                    <div class="text-danger text-center">
                        @if (TempData["Msg"] != null)
                        {
                        @TempData["Msg"];
                        }
                       
                    </div>
                </div>
                <div class="sparkline8-graph fee-submit">
                    <div class="static-table-list table-responsive">
                        @using (Html.BeginForm("FeesSubmit", "HomeB", FormMethod.Post, new { @class = "dropzone dropzone-custom needsclick add-professors", enctype = "multipart/form-data",id= "myform" }))
                        {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="blue-bg bdr-none">Application No</th>
                                    <th class="bdr-none"> @Html.DisplayFor(model => model.objfeesubmit.ApplicationNo)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="blue-bg">Session</th>
                                    <th> @Html.DisplayFor(model => model.objfeesubmit.Session)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Programme </th>
                                    <th> @Html.DisplayFor(model => model.objfeesubmit.Title)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Fees</th>
                                    <th> @Html.DisplayFor(model => model.objfeesubmit.Fees)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Course</th>
                                    <th> @Html.DisplayFor(model => model.objfeesubmit.Course)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Caste category</th>
                                    <th> @Html.DisplayFor(model => model.objfeesubmit.CastCategort)</th>
                                </tr>

                                <tr>
                                    <th class="blue-bg">Fee Status</th>
                                    <th>
                                        @if (Model.objfeesubmit.FeeStatus == "Paid")
                                            {
                                            <span style="color:green" id="">@Model.objfeesubmit.FeeStatus</span>
                                            }
                                            else
                                            {  <span style="color:red">@Model.objfeesubmit.FeeStatus</span> }
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-area-button text-center">
                            <div class="document-btn">
                                <input type="hidden" name="GridHtml" />
                                @if (Model != null)
                                {
                                    if (Model.objfeesubmit != null)
                                    {
                                        if (Model.objfeesubmit.IsFeeSubmit != null)
                                        {
                                            if (Model.objfeesubmit.IsFeeSubmit == "0")
                                            {
                                                if (ViewBag.addmissionExtenddate == true)
                                                {
                                                    <button class="Danger danger-color" style="color: #fff;" id="submit" onclick="return submitpay();" value="Pay Fees"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Pay Fees </button>
                                                }
                                                else
                                                {
                                                  
                                                }
                                            }
                                            else
                                            {
                                                <button class="Danger danger-color" style="color: #fff;" type="button" id="PrintRecipt"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Receipt</button>
                                              
                                            }
                                        }
                                    }
                                }
                                <button class="Danger danger-color" style="color: #fff;" type="button" id="btnPrint"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Application</button>
                            </div>
                        </div>
                   
                        }

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"  style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="divtoPrint">
                <div style="border-bottom:5px solid #05046c; margin-bottom:25px; text-align:center; padding:15px 0;">
                    <img id="logo" width="400">
                </div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif;">
                    <h1 style="text-align:center; padding:15px 0; font-size:22px;">Application Form</h1>
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; border:1px solid #666;">
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                        <td colspan="3" style="padding:15px 15px 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="40%" alight="left">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="40%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Application No.</label></td>
                                                                <td width="60%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="Applicationpp">@Model.ObjApplication.ApplicationNo</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="20%" alight="left">&nbsp;</td>
                                                    <td width="40%" alighn="right">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="40%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Applied Course</label></td>
                                                                <td width="60%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="AppliedCoursepp">@Model.ObjApplication.CourseCategory</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><h2 style="color:#06056c; font-size:16px; padding:20px 15px 0;">Name of the Board from which you have passed the Intermediate exam.</h2></td>
                        </tr>

                        <tr>
                            <td colspan="2" width="100%" style="padding:15px;" valign="top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="43%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Name of the Examination Board <br> प्रवेश श्रेणी</label></td>
                                        <td width="24%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Year of Passing <br> उत्तीर्ण होने का वर्ष</label></td>
                                        <td width="33%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Date of Birth  <br> जन्म की तारीख</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="43%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;">@Model.ObjApplication.board_universityName </span></td>
                                        <td width="24%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;">@Model.ObjApplication.passingyear</span></td>
                                        <td width="33%" style="border:1px solid #666; padding:10px;"><span style="color:#666;">@Model.ObjApplication.DOB</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="30%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Applicant Name<br> आवेदक का नाम</label></td>
                                                    <td style="border:1px solid #666; padding:10px; width:70%;"><label><span style="color:#666;">@Model.ObjApplication.Name</span></label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    @*<td width="30%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Father Name<br> आवेदक के पिता का नाम</label></td>*@
                                                    <td width="30%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>@(Model.ObjApplication.ftitle == 20 ? " Father of Name  /आवेदक के पिता का नाम" : (Model.ObjApplication.ftitle == 21 ? " Husband of Name  /आवेदक के पति का नाम" : " Father of Name /आवेदक के पिता का नाम") )</label></td>

                                                    <td style="border:1px solid #666; padding:10px; width:70%;"><label><span style="color:#666;">@Model.ObjApplication.FatherName</span></label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="30%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Mother Name <br> आवेदक के माता का नाम</label></td>
                                                    <td style="border:1px solid #666; padding:10px; width:70%;"><label><span style="color:#666;">@Model.ObjApplication.MotherName</span></label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>


                                </table>
                            </td>
                            <td width="100" valign="top" style="padding-top:51px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="border:1px solid #666;"><img id="userImage" width="160" style="max-height:130px"></td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="border:1px solid #666; padding:5px;"><img id="userSign" width="160" style="max-height:50px"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3"><h2 style="color:#06056c; font-size:16px; padding:0 15px;">Details of Mark Secured in Intermediate Examination / इंटरमीडिएट बोर्ड  </h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" width="90%" style="padding:15px 0 0 0;" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                <tr>
                                                    <td width="40%"><label style="font-weight:bold;">Stream / संकाय चुने</label></td>
                                                    <td width="60%" style="border:1px solid #666; padding:10px;"><span style="color:#666;">@Model.ObjApplication.intermediatstream</span></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>

                                                @*<tr>
                                                    <td colspan="2">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #666; text-align:left;">
                                                            <tr>
                                                                <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Sr.No</span></th>

                                                                <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Subject Name</span></th>

                                                                <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Total Marks</span></th>

                                                                <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Marks Obtained</span></th>

                                                                <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Percentage</span></th>
                                                            </tr>
                                                            @{ int i = 1;}
                                                            @foreach (var item in Model.ObjIntermidataeSubjects)
                                                            {
                                                                <tr>
                                                                    <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@i</span></td>
                                                                    <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.SubjectName</span> </td>
                                                                    <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.TotalMarks</span></td>
                                                                    <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.MarksObtain</span></td>
                                                                    <td style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px;"><span style="color:#666;">@item.SubjectPercentage</span></td>
                                                                </tr>
                                                                i = i + 1;
                                                            }
                                                        </table>
                                                    </td>
                                                </tr>*@

                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>
                                               
                                                <tr>
                                                    <td width="90%"><label style="font-weight:bold;">Educational Qualification / शैक्षिक योग्यता</label></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div id="Qualification">
                                                            <table width='100%' border='0' cellspacing='0' cellpadding='0' style='border: 1px solid #ccc;'>
                                                                <tr>
                                                                    <th width="8%" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">S. No.</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:10px 15px;">Qualification</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Board</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Roll No</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Percentage</th>

                                                                    <th align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:10px 15px;">Passing Year</th>

                                                                </tr>

                                                                @{ int k = 1;}
                                                                @foreach (var item in Model.ObjQualification)
                                                                {
                                                                    <tr>
                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@k</td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.Qualication </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.Board </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.RollNo </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.Percentage </td>

                                                                        <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.PassingYear</td>

                                                                    </tr>
                                                                    k = k + 1;
                                                                }
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                               
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                     
                        
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="5"><h2 style="color:#06056c; font-size:16px;">Personal Details / व्यक्तिगत विवरण</h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Gender / लिंग</label></td>

                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Nationality / राष्ट्रीयता :</label></td>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Religion / धर्म :</label></td>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Blood Group / रक्त समूह :</label></td>
                                        <td width="20%"><label style="font-weight:bold;"><span style="color:#e51515;">*</span>Category/ जाति की श्रेणी:</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;" id="Gender">@Model.ObjApplication.Gender</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;" id="Nationality">@Model.ObjApplication.NewNationality</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;"><span style="color:#666;" id="Religion">@Model.ObjApplication.NewReligion</span></td>
                                        <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="BloodGroup">@Model.ObjApplication.BloodGroup</span></td>
                                        <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;">@Model.ObjApplication.CastCategory</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3"><h2 style="color:#06056c; font-size:16px; padding:0 15px;">Correspondence Address / पत्राचार का पता </h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding:15px 15px 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                <tr>
                                                    <td width="10%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>State / राज्य</label></td>
                                                    <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CAstate">@Model.ObjApplication.CA_State</span></td>
                                                    <td width="15px">&nbsp;</td>
                                                    <td width="13%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>District / जिला</label></td>
                                                    <td width="15%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CAdistrict">@Model.ObjApplication.CA_City</span></td>
                                                    <td width="15px">&nbsp;</td>
                                                    <td width="15%"><label style="font-weight:bold;"><span style="color:#e51515;"></span> Address / पता</label></td>
                                                    <td style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CAaddress">@Model.ObjApplication.CurrentAddress</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td width="10%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>PIN Code / पिन कोड</label></td>
                                                    <td width="20%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="CApincode">@Model.ObjApplication.CA_PinCode</span></td>
                                                    <td width="15px">&nbsp;</td>
                                                    <td width="13%"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Mobile No. / मोबाइल नंबर</label></td>
                                                    <td width="15%" style="border:1px solid #666; padding:10px;"><span style="color:#666;" id="Mobile"></span>@Model.ObjApplication.MobileNo</td>
                                                    <td width="15px">&nbsp;</td>

                                                    <td width="15%">
                                                        <label style="font-weight:bold;">
                                                            <span style="color:#e51515;">*</span>Email ID / ईमेल आईडी
                                                        </label>
                                                    </td>
                                                    <td style="border:1px solid #666; padding:10px;"><span style="color:#666;">@Model.ObjApplication.Email</span></td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="5"><h2 style="color:#06056c; font-size:16px;">Weightage Details</h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>

                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>General Economical Weaker Section</label></td>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>Physical Disabled </label></td>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>NCC </label></td>
      

                                        
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lbldisabled"></span>@(Model.ObjApplication.is_GEW == true ? "Yes" : "No")</td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblNCC">@(Model.ObjApplication.ishandicapped == true ? "Yes" : "No")</span></td>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblsports">@(Model.ObjApplication.is_ncc_candidate == true ? "Yes" : "No")</span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                       
                        <tr>
                            <td colspan="3" style="padding:0 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="5"><h2 style="color:#06056c; font-size:16px;">Weightage Details</h2></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>SPORT QUOTA </label></td>
                                           <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>EX-SERVICEMEN </label></td>

                                        <td width="20%" style="text-align:center;"><label style="font-weight:bold;"><span style="color:#e51515;"></span>WARD</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblExServiceman">@(Model.ObjApplication.IsSports == true ? "Yes" : "No")</span></td>

                                          <td width="20%" style="border:1px solid #666; border-right:0; padding:10px;text-align:center;"><span style="color:#666;" id="lblExServiceman">@(Model.ObjApplication.isex_service_man == true ? "Yes" : "No")</span></td>

                                        <td width="20%" style="border:1px solid #666; padding:10px;text-align:center;"><span style="color:#666;" id="lblward">@(Model.ObjApplication.IsStaff == true ? "Yes" : "No")</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3" style="padding:15px 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><h2 style="color:#06056c; font-size:16px;">Details of the Subjects for Admission</h2></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #666; border-bottom:0; text-align:left;">
                                                <tr>
                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee; width:50px;"><span style="color:#666;">Sr.No</span></th>
                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee;">College Code (College Name)</span></th>
                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee;">Course</span></th>
                                                    @*<th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee;">Subsidiary Subject 1</span></th>
                                                    <th style="border-right:1px solid #666; border-bottom:1px solid #666; padding:10px; background-color:#eee;">Subsidiary Subject 2</span></th>
                                                    <th style="border-bottom:1px solid #666; padding:10px; background-color:#eee;">Composition Subject 1</span></th>
                                                    <th style="border-bottom:1px solid #666; padding:10px; background-color:#eee;">Composition Subject 2</span></th>*@
                                                </tr>
                                                @{ int l = 1;}
                                                @foreach (var item in Model.objChoices)
                                                {
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@l</td>

                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.CollegeName </td>

                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;"> @item.hounors_subject </td>

                                                    @*<td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.Subsidiary1_subject </td>

                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.Subsidiary2_subject </td>

                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.Compulsory1_subject</td>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px;">@item.Compulsory2_subject</td>*@

                                                </tr>
                                                    l = l + 1;
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" style="border-bottom:1px solid #ccc;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="3" style="padding:0 15px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><h2 style="color:#06056c; font-size:16px;">Transaction Details</h2></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #666; text-align:left;">
                                                <tr>
                                                    <th width="12%" style="border-right:1px solid #666; padding:10px; background-color:#eee;">Transaction Id</th>
                                                    <td width="12%" style="border-right:1px solid #666; padding:10px;"><span >@Model.objPrintRecipt.TransactionId</span></td>
                                                    <th width="12%" style="border-right:1px solid #666; padding:10px; background-color:#eee;">Bank Reference Number</th>
                                                    <td width="12%" style="border-right:1px solid #666; padding:10px;"><span >@Model.objPrintRecipt.banktrxid</span></td>
                                                    <th width="12%" style="border-right:1px solid #666; padding:10px; background-color:#eee;">Amount</th>
                                                    <td width="12%" style="border-right:1px solid #666; padding:10px;">Rs.@Model.objfeesubmit.Fees</td>
                                                    <th width="12%" style="border-right:1px solid #666; padding:10px; background-color:#eee;">Status</th>
                                                    <td width="12%" style="padding:10px;"><span>@Model.objPrintRecipt.status</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0 15px; font-size:20px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><span style="color:#06056c; ">   Date:- @System.DateTime.Now.ToString("dd MMM yyyy")</span></td>
                                        <td align="right"><span style="color:#06056c;text-align:right">Place:- @Model.ObjApplication.CA_City</span></td>
                                    </tr>
                                   
                                   
                                </table>
                         </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0 15px; font-size:20px;"></td>
                        </tr>

                    </table>
                </div>


                <div style="height:70px; background-color:#05046c; color:#FFF; line-height:70px; text-align:center; font-family:Arial, Helvetica, sans-serif;">Copyright © @System.DateTime.Now.Year Munger University. All rights reserved.</div>

            </div>



        </div>

    </div>
</div>
<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="dvPrintRecipt">
                <div style="border-bottom:5px solid #05046c; margin-bottom:25px; text-align:center; padding:15px 0;"><img id="logo2" width="300px"></div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">
                    <h1 style="text-align:center; padding:15px 0; font-size:22px;">Fees Receipt</h1>
                    <table width="600px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                <tr>
                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Fees Submit</th>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Application No</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@Model.objfeesubmit.ApplicationNo </span ></td >
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:5px 10px;">Session</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;"><span id="FeeSession">@Model.objfeesubmit.Session</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Programme</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeTitle"></span>@Model.objfeesubmit.Title</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Fees</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">@Model.objfeesubmit.Fees</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Course</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeSubjectcate">@Model.objfeesubmit.Course</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Caste Category</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.objfeesubmit.CastCategort</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.objfeesubmit.FeeStatus</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <!-- / Subject -->

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td width="100%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                    <tr>
                                        <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="bankName">@Model.objPrintRecipt.status</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Bank Reference Number</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="PayName">@Model.objPrintRecipt.banktrxid</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction ID</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="cardNum">@Model.objPrintRecipt.TransactionId</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.objPrintRecipt.trxdate</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="Expires">@Model.objPrintRecipt.PaymentType</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                    </table>

                </div>
             </div>
            </div>
        </div>
    </div>
                

