@model DataLayer.PrintExamForm
@{
    ViewBag.Title = "BackResponseExam";
    Layout = "~/Areas/StudentBEd/Views/Shared/_LayoutStudentBEd.cshtml";
}

<script>
    var photurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+Model.objExamFrom.photo)";
    var signurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+ Model.objExamFrom.sign)";
    var logo1 = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["siteUrl"] + "/images/mu-logo-white.png")";
    $(function () {

        encodeImage2(logo1);
    });

</script>

<script type="text/javascript">

    function encodeImage2(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }

</script>
<style>
    .thankyou-box {
        max-width: 700px;
        min-width: 300px;
        margin: auto;
        background-color: #FFF;
        text-align: center;
        border-radius: 40px;
        box-shadow: 10px 10px 10px #eee;
        padding: 25px;
        margin-top: 0px;
        margin-bottom: 20px;
        border: 1px solid #eee;
    }

        .thankyou-box ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: left;
        }

            .thankyou-box ul li {
                margin-bottom: 5px;
            }

        .thankyou-box h5 {
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }

        .thankyou-box ul li span {
            width: 180px;
            display: inline-block;
        }
</style>
<script src="~/scripts/Customjs/ExamFeeSubmitBED.js?id=@System.Configuration.ConfigurationManager.AppSettings["Commonjs"]"></script>

<div class="thankyou-box">
    @if (Convert.ToString(Model.Examobjfeesubmit.FeeStatus).ToLower() == "Paid".ToLower())
    {
        <i><img src="~/Img/check-icon1.png" width="75"></i>
        <p>Dear Student, Your Transaction is successful. Save the information for your reference.</p>
        <h5>Transaction Detail</h5>
        <ul>
            <li><span>Transaction Status</span> : &nbsp;&nbsp;<i><img src="~/Img/check-icon1.png" width="15"></i> @Model.objPrintRecipt.status</li>
            <li><span>Transaction Date </span> : &nbsp;&nbsp;@Model.objPrintRecipt.trxdate</li>
            <li><span>Bank Reference Number</span>  : &nbsp;&nbsp;@Model.objPrintRecipt.banktrxid</li>
            <li><span>Transaction Id</span> :&nbsp;&nbsp; @Model.objPrintRecipt.TransactionId</li>
            <li><span>Application Number </span>  :&nbsp;&nbsp; @Model.Examobjfeesubmit.ApplicationNo </li>
            <li><span>Customer Name</span> : &nbsp;&nbsp;@DataLayer.ClsLanguage.GetCookies("NBUserName")</li>
            <li><span>Payment Amount </span> : &nbsp;&nbsp;@(Model.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Examobjfeesubmit.Fees))</li>
            <li><span>Payment Mode </span> : &nbsp;&nbsp;@Model.objPrintRecipt.PaymentType</li>
            <li><span></span></li>
        </ul>
    }
    else
    {
        <i><img src="~/Img/error-icon.png" width="75"></i>
        <p>Your Transaction Failed.</p>
        <h5>Transaction Detail</h5>
        <ul>
            <li><span>Transaction Status</span> : &nbsp;&nbsp;<i><img src="~/Img/error-icon.png" width="15"></i> @*@Model.objPrintRecipt.status*@Failed</li>
            <li><span>Transaction Date </span> : &nbsp;&nbsp;@Model.objPrintRecipt.trxdate</li>
            <li><span>Bank Reference Number</span>  : &nbsp;&nbsp;@Model.objPrintRecipt.banktrxid</li>
            <li><span>Transaction Id</span> : &nbsp;&nbsp;@Model.objPrintRecipt.TransactionId</li>
            <li><span>Application Number </span>  : &nbsp;&nbsp;@Model.Examobjfeesubmit.ApplicationNo </li>
            <li><span>Customer Name</span> : &nbsp;&nbsp;@DataLayer.ClsLanguage.GetCookies("NBUserName")</li>
            <li><span>Payment Amount </span> : &nbsp;&nbsp;@(Model.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Examobjfeesubmit.Fees))</li>
            <li><span>Payment Mode </span> : &nbsp;&nbsp;@Model.objPrintRecipt.PaymentType</li>

        </ul>
    }




    <div class="modal-area-button text-center">
        <div class="document-btn">
            <button class="Danger danger-color" style="color: #fff;" type="button" id="PrintRecipt"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Receipt</button>
        </div>
    </div>
</div>
<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="dvPrintRecipt">
                <div style="border-bottom:5px solid #05046c; margin-bottom:10px; text-align:center; padding:15px 0;">
                    <div> <img id="logo" width="300px"></div>
                   
                </div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">

                    <table width="800px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">
                                            @if (Convert.ToString(Model.Examobjfeesubmit.FeeStatus).ToLower() == "Paid".ToLower())
                                            {
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                    <tr>
                                                        <td align="left" valign="top">Form No. @Model.objExamFrom.formno</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:5px 0;"><strong>BACKLOG EXAMINATION FORM</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" style="font-family:20px; padding:5px 0;">
                                                            @Model.objExamFrom.CourseCategory 
                                                            SESSION-(@Model.objExamFrom.SessionName) EXAMINATION - @Model.objExamFrom.currentyear <br>@Model.objExamFrom.YearName
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="84%" align="left" valign="top" style="font-family:16px; padding:5px 0;">The Controller of Examinations,</td>
                                                                    <td width="16%" rowspan="5" align="left" valign="top">
                                                                        <div style="border:0px solid #333; width:133px; height:125px; padding:5px;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td align="center" valign="middle" max-height:130px;"><img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.objExamFrom.photo" style="max-height:110px;" alt="Passport Size Photo" /></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" valign="middle">&nbsp;</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="font-family:16px; padding:5px 0;"><strong>Munger University</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="font-family:16px; padding:5px 0;"><strong>Demo</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" style="font-family:16px; padding:5px 0;">(TO BE FILLED BY THE CANDIDATE)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:5px 0;">Sir, </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top" style="padding:15px 0;">Please allow me to appear at <strong>  @Model.objExamFrom.CourseCategory </strong>  Degre Course </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding:15px 0;">
                                                            <strong>  <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.objExamFrom.YearName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong>
                                                            Examination Year  <strong> <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @Model.objExamFrom.currentyear &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </strong> I hearby deposit a sum of Rs <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(Model.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Examobjfeesubmit.Fees))</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> only as examination fee.
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top" style="padding:0 0 5px">I undertake the responsibility for the information furnished below:</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top">
                                                            &nbsp;<img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.objExamFrom.sign" width="70" style="max-height:70px;" alt="अंग्रेजी में छात्र का हस्ताक्षर" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top">Full Signature of the Applicant</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;<hr /></td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            }
                                            else
                                            {
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                    
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:5px 0;"><strong>BACKLOG EXAMINATION FORM</strong></td>
                                                    </tr>
                                                    </table>
                                                    }
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                        <tr>
                                                            <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">@Html.DisplayFor(model => model.objExamFrom.CourseCategory) @Html.DisplayFor(model => model.objExamFrom.YearName) Subject List:</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;border-right:1px solid #ccc;     width:50%; background-color:#44438e; color:#FFF;  padding:5px 10px;">Paper</th>
                                                            <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  width:50%;background-color:#44438e; color:#FFF;  padding:5px 10px;">Name of Subjects</th>
                                                        </tr>


                                                        @if (Model.subjectlist.Count > 0)
                                                        {
                                                            foreach (var item in Model.subjectlist)
                                                            {
                                                                <tr>
                                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;    padding:5px 10px;">@item.SubjectCode</th>
                                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;      padding:5px 10px;">@item.SubjectName</th>
                                                                </tr>

                                                            }
                                                        }



                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                        <tr>
                                                            <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Exam Fees Receipt</th>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;width:25% ; padding:5px 10px;background-color:#eee;">Name</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;" colspan="3"><span id="FeeTitle"></span>@Model.objExamFrom.StudentName</td>


                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;width:25% ; padding:5px 10px;">College</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;" colspan="3"><span id="FeeTitle"></span>@Model.objExamFrom.CollegeName</td>


                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Course</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee; border-right:1px solid #ccc "><span id="FeeSubjectcate">@Model.objExamFrom.CourseCategory @Model.objExamFrom.YearName </span></td>

                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;background-color:#eee;">Session</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="FeeSession">@Model.objExamFrom.SessionName</span></td>
                                                            @*<td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Subject</td>
                                                                <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeSubjectcate">@Model.objExamFrom.HonoursSubject </span></td>*@
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Application No</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; border-right:1px solid #ccc">
                                                                <span id="">@Model.Examobjfeesubmit.ApplicationNo </span>
                                                            </td>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;  ">Caste Category</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; "><span id="FeeCastCategory">@Model.Examobjfeesubmit.CastCategort</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Roll No </td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.objExamFrom.RollNo</span></td>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Registration No</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="">@Model.objExamFrom.RegistrationNo </span></td>
                                                        </tr>

                                                        <tr>

                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Exam Fees</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  border-right:1px solid #ccc "><span id="FeesPrice">@Model.Examobjfeesubmit.Fees</span></td>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;   padding:5px 10px;">Late Fees</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  "><span id="FeesPrice">@Model.Examobjfeesubmit.late_fee</span></td>

                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Processingfees (including GST) </td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;  border-right:1px solid #ccc"><span id="FeesPrice">@(Model.Examobjfeesubmit.surcharge)</span></td>

                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Total Fee Amount</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">@(Model.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Examobjfeesubmit.Fees) + Model.Examobjfeesubmit.surcharge)</span></td>



                                                        </tr>


                                                        <tr>
                                                            <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc "><span id="bankName">@Model.objPrintRecipt.status</span></td>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc;  border-right:1px solid #ccc;">Bank Reference Number</td>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; "><span id="PayName">@Model.objPrintRecipt.banktrxid</span></td>

                                                        </tr>

                                                        <tr>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;border-right:1px solid #ccc;">Transaction ID</td>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc;background-color:#eee; border-right:1px solid #ccc"><span id="cardNum">@Model.objPrintRecipt.TransactionId</span></td>

                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.objPrintRecipt.trxdate</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc "><span id="Expires">@Model.objPrintRecipt.PaymentType</span></td>
                                                            <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Examobjfeesubmit.FeeStatus</span></td>
                                                        </tr>
                                                    </table>
</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>



                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
