@model List<DataLayer.StudentPreviousQualification>
@{
    ViewBag.Title = "StudentQualification";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}
<script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>

<script src="~/scripts/Customjs/StudentQualification.js?id=@System.Configuration.ConfigurationManager.AppSettings["StudentQualification"]"></script>
<script src="~/scripts/Customjs/QualificationDetails.js?id=@System.Configuration.ConfigurationManager.AppSettings["QualificationDetails"]"></script>

<style>
    .starvalid {
        color: red;
    }
    .spacebottom
    {
        margin-bottom:30px;}
</style>
<div class="container-fluid">
    <div class="sparkline8-list DocumentUpload">
	<div class="text-danger text-center">
        @if (TempData["Msg"] != null)
        {
            @TempData["Msg"];
        }
    </div>
	
    <div class="row ">
        <div>
            <h3 class="text-center">Student Qualification </h3>
        </div>
    </div>
    


        <div class="row">
            @*<div class="sparkline12-hd">
                    <div class="main-sparkline12-hd">
                        <h3 class="text-center">Student Qualification Details</h3>
                    </div>
                </div>*@
            <div class="col-lg-12 col-sm-12 col-xs-12  ">
			  
				
                <div ng-app="qualificationlistApp" ng-controller="qualificationlistCtrl">        
                    <div class="text-right">
                   @if (ViewBag.check_admissionopen == true)
                   {

                       //if (ViewBag.IsSubmit == 0)
                       //{
                       if (ViewBag.IsSubmit == 0) // for spot admission
                       {
                            <div ng-show="(qlist |filter:search).length != 2">
                                <a class="btn btn-primary waves-effect waves-light add-quali-btn" href="@Url.Action("PreviousyearQualification", "Home")">Add Qualification</a>
                            </div>
                       }
                       //}

                   }
                   else
                   {
                       if (ViewBag.Statusrecruitny != true)
                       {
                           //if (ViewBag.IsSubmit == 0)
                           //{
                           if (ViewBag.IsSubmit == 0) // for spot admission
                           {
                        <div ng-show="(qlist |filter:search).length != 2">
                            <a class="btn btn-primary waves-effect waves-light add-quali-btn" href="@Url.Action("PreviousyearQualification", "Home")">Add Qualification</a>
                        </div>
                           }
                           //}
                       }
                   }

                </div>
          
                      <div class="document-table">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer table-responsive">
                            <table ui-jq="dataTable" ui-options="dataTableOpt" class="table table-bordered table-condensed dataTable ">
                                <thead>
                                    <tr role="row">
                                        <th width="80px">S. No.</th>
                                        <th ng-click="sortBy('qualificationTypeName')">
                                            Qualification
                                            <span class="sortorder" ng-show="propertyName === 'qualificationTypeName'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('board_UniversityName')">
                                            University Name
                                            <span class="sortorder" ng-show="propertyName === 'board_UniversityName'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('rollNo')">
                                            Roll No
                                            <span class="sortorder" ng-show="propertyName === 'rollNo'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('RollNo')">
                                            Percentage
                                            <span class="sortorder" ng-show="propertyName === 'percentage'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('markstype')">
                                            Markstype
                                            <span class="sortorder" ng-show="propertyName === 'markstype'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('RollNo')">
                                            Total Paper Marks
                                            <span class="sortorder" ng-show="propertyName === 'percentage'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('percentage')">
                                            Total Obtain Marks
                                            <span class="sortorder" ng-show="propertyName === 'percentage'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('passingYear')">
                                            PassingYear
                                            <span class="sortorder" ng-show="propertyName === 'passingYear'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('')">
                                            Document
                                            <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        @*@if (@ViewBag.IsSubmit != 1)
        {*@

                                        @if (ViewBag.check_admissionopen == true)
                                        {
                                            if (ViewBag.sessionid == 39)
                                            {
                                                if (ViewBag.IsSubmit == 0)
                                                {
                                                    <th ng-click="sortBy('')">
                                                        Action
                                                        <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
                                                    </th>
}
                                            }
                                            else
                                            {
                                                if (ViewBag.Statusrecruitny != true)
                                                {
                                                    //if (ViewBag.IsSubmit == 0)
                                                    //{
                                                    //if (ViewBag.IsSubmit == 0) // for spot admission
                                                    //{
                                                    <th ng-click="sortBy('')">
                                                        Action
                                                        <span class="sortorder" ng-show="propertyName === ''" ng-class="{reverse: reverse}"></span>
                                                    </th>
                                                    //}
                                                    //}
                                                }
                                            }
                                        }

                                        @*}*@






                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    <tr ng-repeat="qualidetail in qlist | filter:search  | orderBy:propertyName:reverse">
                                        <td>
                                            {{ ((pageIndex-1)*pageSizeSelected)+$index+1 }}
                                            @*{{ a=="a"}}*@
                                        </td>
                                        <td>{{qualidetail.qualificationTypeName}}</td>
                                        <td>{{qualidetail.board_UniversityName}}</td>
                                        <td>{{qualidetail.rollNo}}</td>
                                        <td>{{qualidetail.percentage}}</td>
                                        <td>{{qualidetail.marksType}}</td>


                                        <td>{{qualidetail.totalpapermasks }}</td>
                                        <td>{{qualidetail.totaobtaindmasks}}</td>
                                        <td>{{qualidetail.passingYear}}</td>
                                        <td>
                                            <a title="View" href="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]{{qualidetail.fileURl}}" target="_blank" class="btn btn-info btn-sm">View</a>

                                        </td>
                                        @*@if (@ViewBag.IsSubmit != 1)
        {*@
                                        @if (ViewBag.check_admissionopen == true)
                                        {
                                            //if (ViewBag.sessionid == 39) Comment By JC
                                            //{
                                            //if (ViewBag.IsSubmit == 0) Comment By JC
                                            //{
                                            <td>
                                                <a title="Edit" href="~/Student/Home/PreviousyearQualificationO/{{qualidetail.encriptedID}}" class="btn btn-success btn-sm fa fa-edit " onclick="return confirm('If you have already filled your subject and college choices, it will be deleted ,if you edit your Qualification!!');"></a>
                                                <a title="Delete" href="~/Student/Home/StudentDelete/{{qualidetail.encriptedID}}" class="btn btn-danger btn-sm fa fa-trash " onclick="return confirm('If you have already filled your subject and college choices, it will be deleted ,if you delete your Qualification!!');"></a>
                                            </td>
                                            //}
                                            //}
                                            @*else Comment By JC
                {
                    if (ViewBag.Statusrecruitny != true)
                    {
                        //if (ViewBag.IsSubmit == 0)
                        //{
                        //if (ViewBag.IsSubmit == 0) // for spot admission
                        //{
            <td>
                <a title="Edit" href="~/Student/Home/PreviousyearQualificationO/{{qualidetail.encriptedID}}" class="btn btn-success btn-sm fa fa-edit " onclick="return confirm('If you have already filled your subject and college choices, it will be deleted ,if you edit your Qualification!!');"></a>
                <a title="Delete" href="~/Student/Home/StudentDelete/{{qualidetail.encriptedID}}" class="btn btn-danger btn-sm fa fa-trash " onclick="return confirm('If you have already filled your subject and college choices, it will be deleted ,if you delete your Qualification!!');"></a>
            </td>
                        //}
                        //}
                    }
                }*@
                                        }
                                        @*}*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    
    @if (Model.Count != 0)
    {
    <div class="row document-table">
        <div class="text-center"><h3>Intermediate Subject Detail</h3></div>
		<div class="table-responsive">
        <div class="col-lg-8 col-sm-12 col-xs-12 col-lg-offset-2">
            <table ui-jq="dataTable" ui-options="dataTableOpt" class="table table-bordered table-condensed dataTable ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Subject")
                        </th>
                        <th>
                            @Html.DisplayName("Total Marks")
                        </th>
                        <th>
                            @Html.DisplayName("Marks Obtained")
                        </th>
                        <th>
                            @Html.DisplayName("Percentage")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        if(item.SubjectName ==null|| item.SubjectName=="")
                        {

                        }
                        else
                        { 
                        <tr>
                            <td>
                                @*@Html.DropDownListFor(item.SubjectID, new SelectList(ViewBag.Subject, "Value", "Text", ViewBag.que), "--Select Subject--", new { @class = "form-control custom-select-value", @id = "SubjectID", @required = "required" })*@
                                @*@Html.DropDownList("SubjectID", new SelectList(ViewBag.Subject, "Value", "Text", item.SubjectID), "--Select Subject--", new { @class = "form-control custom-select-value Subject", @id = "SubjectID", @required = "required" })*@
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>                                
                                @Html.DisplayFor(modelItem => item.TotalMarks)
                            </td>
                            <td>                                
                                @Html.DisplayFor(modelItem => item.MarksObtain)
                            </td>
                            <td>                               
                                @Html.DisplayFor(modelItem => item.SubjectPercentage)
                            </td>

                            @if (item.ID > 0)
                            {
                                @Html.Hidden("ID", "", new { @Value = item.ID })
                            }

                        </tr>
                        }
                    }



            </table>
            @if (@ViewBag.IsSubmit != 1)
            {

            <div class="text-danger text-warning">Please choose Edit for any Corrections</div>
            }
        </div>
    </div>
    
    
</div>

    }
        <div class="row spacebottom">

            <div class="col-lg-12 text-center">
                <div class="document-btn">
                    <a class="btn btn-primary waves-effect waves-light" href="@Url.Action("DocumentUpload", "Home")">Previous</a>
                    <a class="btn btn-primary waves-effect waves-light" href="@Url.Action("SelectSubject", "Home")">Next</a>
                </div>
            </div>

        </div>
</div>
</div>