
@using DataLayer
@model Tuple<DataLayer.PrintExamForm, DataLayer.QualifiationMasterList, List<DataLayer.EaxmFeesSubmit>, List<DataLayer.EaxmFeesSubmit>>
@{
    ViewBag.Title = "ExamFeesSubmit";
    Layout = "~/Areas/StudentLLB/Views/Shared/_LayoutStudentLLB.cshtml";
}

<script>
    var photurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+Model.Item1.objExamFrom.photo)";
    var signurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+ Model.Item1.objExamFrom.sign)";
    var logo1 = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["siteUrl"] + "/images/mu-logo-white.png")";
    $(function () {
        encodeImage(photurl);
        encodeImage1(signurl);
        encodeImage2(logo1);
       // encodeImage3(logo1);
    });

</script>
<script type="text/javascript">Name in Devnagari
    function encodeImage(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("userImage");
        img.onload = function () {
            canvas.width = 160;
            canvas.height = 150;
            ctx.drawImage(img, 0, 0, 160, 150);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    function encodeImage1(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("userSign");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    function encodeImage2(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    //function encodeImage3(src, callback) {
    //    var canvas = document.createElement('canvas'),
    //        ctx = canvas.getContext('2d'),
    //        img = document.getElementById("logoadmit");
    //    img.onload = function () {
    //        canvas.width = 140;
    //        canvas.height = 100;
    //        ctx.drawImage(img, 0, 0, 140, 100);
    //        callback(canvas.toDataURL());
    //    }
    //    img.src = src;
    //} 
</script>
<style>
    .tab-content-details {
   
     padding: 0px 100px !important;  
}
    #pageheading {    
    background-color: black;
    padding: 10px;
    color: white;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    }
</style>
<script src="~/scripts/Customjs/ExamFeeSubmitLLB.js?id=@System.Configuration.ConfigurationManager.AppSettings["Commonjs"]"></script>
<div class="container-fluid">
    @{

        if (TempData["msgfees"] == null) { }
        else
        {
            <div class="alert-wrap1 shadow-inner wrap-alert-b">

                <div class="alert alert-success " role="alert" style="text-align:center !important">
                    <div>@TempData["msgfees"]</div>

                </div>
            </div>
        }
        if (TempData["msgerror"] == null) { }
        else
        {
            <div class="alert-wrap1 shadow-inner wrap-alert-b">

                <div class="alert alert-success " role="alert" style="text-align:center !important">
                    <div>@TempData["msgerror"]</div>

                </div>
            </div>
        }
    }
    <div class="sparkline12-list DocumentUpload">
        <div class="row">
            <div class="col-sm-12 col-xs-12 ">

                <div class="sparkline8-hd">
                    <div class="tab-content-details shadow-reset">
                        <center>
                            <h3 id="pageheading">

                                Exam - Form

                            </h3>
                            <div>
                                @Model.Item1.objExamFrom.CourseCategory  Course @Model.Item1.objExamFrom.YearName
                                , SESSION-(@Model.Item1.objExamFrom.SessionName) EXAMINATION - @Model.Item1.objExamFrom.currentyear
                            </div>
                        </center>
                     
                    </div>
                    <div class="text-danger text-center">
                        @if (TempData["Msg"] != null)
                        {
                            @TempData["Msg"];
                        }

                    </div>

                </div>
      
    <div class="sparkline8-graph fee-submit">
        <div class="static-table-list table-responsive">
            @using (Html.BeginForm("ExamFeesSubmit", "ExamLLB", FormMethod.Post, new { @class = "dropzone dropzone-custom needsclick add-professors", enctype = "multipart/form-data", id = "myform" }))
            {
                <div style="width:100%; margin:auto; padding:0; font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif; border:0px solid #333; padding:0px">

                    <div style="width:800px; margin:auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                       
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        
                        <tr>
                            <td align="left" valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="font-size:18px; padding:5px 0;"><strong>PARTICULARS :</strong></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="28%" align="left" valign="top" style="padding:15px 0 0;">1. Registration No </td>
                                        <td width="72%" align="left" valign="top" style="padding:0px 0 0; ">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>

                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;" width="180">&nbsp;@Model.Item1.objExamFrom.RegistrationNo</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="200">&nbsp;Year of Registration:</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="218">&nbsp;@Model.Item1.objExamFrom.Registrationyear</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top" style="padding:15px 0 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="80%" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td align="left" width="40%" valign="top" style="padding:15px 0 0;">2. Roll No </td>
                                                                <td align="left" width="60%" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.RollNo</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" width="40%" valign="top" style="padding:15px 0 0;">3. Name in block Letter in English</td>
                                                                <td align="left" width="60%" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.StudentName</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="padding:15px 0 0;">4. Name in Devnagari</td>
                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.StudentNameHindi</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="padding:15px 0 0;">5. Name of Examination</td>
                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.CourseCategory  @Html.DisplayFor(model => model.Item1.objExamFrom.YearName)</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="padding:15px 0 0;">6. Date of birth</td>
                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.DOB</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="padding:15px 0 0;">7. Contact No</td>
                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.MobileNo</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="padding:15px 0 0;">8. @(Model.Item1.objExamFrom.ftitle == 20 ? " Father's  Name" : (Model.Item1.objExamFrom.ftitle == 21 ? "  Husband's  Name" : " Father's  Name") )</td>
                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.FatherName</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="padding:15px 0 0;">9. Mother’s Name</td>
                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.MotherName</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="20%" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td align="center" valign="middle">
                                                                    &nbsp;<div style="width:125px; height:125px; padding:5px;">
                                                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.photo" width="100%" style="border:1px solid #333; " alt=" />
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td align="center" valign="middle">&nbsp;<br /></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="middle">&nbsp;<br /></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="middle">
                                                                    <div style="width:125px; height:80px; padding:5px;">
                                                                        <br /><br />
                                                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.sign" width="100%" style="border:1px solid #333; " alt=" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="middle">&nbsp;</td>
                                                            </tr>

                                                        </table>
                                                    </td>

                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="93">10. Nationality:</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;" width="130">&nbsp;@Model.Item1.objExamFrom.Nationality</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="66">&nbsp;Religion:</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="182">&nbsp;@Model.Item1.objExamFrom.Religion</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="76">&nbsp;Category:</td>
                                                    <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="190">&nbsp;@Model.Item1.objExamFrom.castecategoryname</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top" style="padding:15px 0 0;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="10%" rowspan="10" align="left" valign="top" style="padding:15px 0 0;">11. Address:</td>
                                                    <td width="90%" align="left" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="20%" align="left" valign="top" style="padding:15px 0 0;">(a) Permanent</td>
                                                                <td width="80%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.permanentAddress</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td align="left" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="20%" align="left" valign="top" style="padding:15px 0 0;">(b) Correspondence </td>
                                                                <td width="80%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.CurrentAddress</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="28%" align="left" valign="top" style="padding:15px 0 0;">12. College Name</td>
                                        <td width="72%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.CollegeName</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top" style="padding:15px 0 0;"> 13. <strong>Subjects of Examination </strong> </td>
                                        <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;"><strong> &nbsp;@Model.Item1.objExamFrom.HonoursSubject</strong> </td>
                                    </tr>
                                
                              
                                    
                                   
                                  
                                    
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="22%" rowspan="7" align="left" valign="top" style="padding:15px 0 0;">14. Details about Exam :</td>
                                                    <td width="78%" align="left" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="22%" align="left" valign="top" style="padding:15px 0 0;">(a) Passed earlier </td>
                                                                <td width="78%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                              
                                              

                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="30%" align="left" valign="top" style="padding:15px 0 0;">15.@Html.DisplayFor(model => model.Item1.objExamFrom.CourseCategory) @Html.DisplayFor(model => model.Item1.objExamFrom.YearName) Subject :</td>
                                                    <td width="70%" align="left" valign="top" style="padding:15px 0 0; ">
                                                       
                                                         <table width="100%" class="table table-bordered "> 
                                                             <tr>
                                                                 <th>Paper</th>
                                                                 <th>Name of Subject</th>
                                                             </tr>
                                                             @if (Model.Item4.Count > 0)
                                                             {
                                                                 foreach (var item in Model.Item4)
                                                                 {
                                                                    <tr>
                                                                        <td>@item.SubjectCode</td>
                                                                        <td>@item.SubjectName</td>
                                                                    </tr>

                                                                 }
                                                             }
                                                          
                                                         </table>
                                                       
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="30%" align="left" valign="top" style="padding:15px 0 0;">16. If appeared earlier / Failed:</td>
                                                    <td width="70%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">
                                                       @if (Model.Item1.objExamFrom.IsApplied == false)
                                                       {
                                                         <select style="width:100%; border:0; border-bottom:border-bottom:1px dotted #000;" id="isappeared" name="isappeared" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="1"> Yes</option>
                                                            <option value="0">No</option>
                                                        </select>
                                                       }
                                                       else
                                                       {
                                                           <div>@(Model.Item1.objExamFrom.isappearedearlierfail==true?"Yes":"No" )</div>
                                                       }
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    
@if (Model.Item1.objExamFrom.IsApplied == true)
{
    <tr>
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="30%" align="left" valign="top" style="padding:15px 0 0;">13. Present Status of Candidate: </td>
                    <td width="70%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;"><span style="border:0; border-bottom:1px dotted #000; width:100%;" /><div>
                                                                                                                                                                                                <strong>@(Model.Item1.objExamFrom.IsDocVerify == 1 ? "Your Document is Approved ,Now you eligible to pay Exam fees. " : (Model.Item1.objExamFrom.IsDocVerify == 2 ? "Your Form is Reject ,Due to :- " + Model.Item1.objExamFrom.rejectreason + "" : "Pending,  Please Go to College for Verify your form .") )</strong></div></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" colspan="2" calign="left" valign="top" style="padding:15px 0 0;">
                        17. <label>
                            <input type="checkbox" style="vertical-align:middle; display:inline-block;" name="checkboxid" id="checkboxid" checked disabled>
                            <span style="vertical-align:middle; display:inline-block;"> I hereby declared that above details are correct and i have verified.</span>
                        </label>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" colspan="2" calign="left" valign="top" style="padding:15px 0 0;">
                        @*<div class="tab-content-details shadow-reset">
                            <h3 id="pageheading">
                                Exam @if (Model.Item1.objExamFrom.IsExamfeesubmit ==1)
                                {<span> Fees Acknowledgement </span>
                                }
                                else
                                { <span> Fees Submit </span>}
                            </h3>

                        </div>
                        <div class="text-danger text-center">
                            @if (TempData["Msg"] != null)
                            {
                                @TempData["Msg"];
                            }

                        </div>*@
                        @if (Model != null)
                        {
                        if (Model.Item1.objExamFrom.IsExamfeesubmit != null)
                        {
                        if (Model.Item1.objExamFrom.IsExamfeesubmit != null)
                        {
                        if (Model.Item1.objExamFrom.IsExamfeesubmit == 0)
                        {
                        if (ViewBag.check_admissionopen == false)
                        {
                        @*<center>
            <a style="color:red;font-size:30px"><span class="fa fa-times "></span></a><br /><br />
            <h4>Application registration for UG- stream has been closed. You can not complete the application. !!</h4>
        </center>*@
                        }
                        }
                        }
                        }
                        }
                        <div class="sparkline12-graph fee-submit">
                            <div class="static-table-list table-responsive">
                                @using (Html.BeginForm("ExamFeesSubmit", "ExamLLB", FormMethod.Post, new { @class = "dropzone dropzone-custom needsclick add-professors", enctype = "multipart/form-data", id = "myform" }))
                                {
                                    <table class="table">

                                        <tbody>

                                            <tr>
                                                <th class="blue-bg">College Name </th>
                                                <th> @Html.DisplayFor(model => Model.Item1.objExamFrom.CollegeName)</th>
                                            </tr>
                                            <tr>
                                                <th class="blue-bg">Course</th>
                                                <th> @Html.DisplayFor(model => model.Item1.objExamFrom.CourseCategory) &nbsp; @Html.DisplayFor(model => model.Item1.objExamFrom.YearName)</th>
                                            </tr>
                                            <tr>
                                                <th class="blue-bg">Rollno</th>
                                                <th> @Html.DisplayFor(model => Model.Item1.objExamFrom.RollNo)</th>
                                            </tr>
                                            <tr>
                                                <th class="blue-bg">Fee Status</th>
                                                <th>
                                                    @if (Model.Item1.objExamFrom.IsExamfeesubmit ==1)
                                                    {
                                                        <span style="color:green" id="">@Model.Item1.Examobjfeesubmit.FeeStatus</span>
                                                    }
                                                    else
                                                    {  <span style="color:red">@Model.Item1.Examobjfeesubmit.FeeStatus</span> }
                                                </th>
                                            </tr>
                                            @if (Model.Item1.objExamFrom.IsExamfeesubmit == 1)
                                            {
                                            <tr>
                                                <th class="blue-bg">Fees Amount</th>
                                                <th> @Html.DisplayFor(model => model.Item1.Examobjfeesubmit.Fees, new { @id = "lblFeeStatus", @readonly = true })</th>
                                            </tr>
                                            <tr>
                                                <th class="blue-bg">Late Amount</th>
                                                <th> @Html.DisplayFor(model => model.Item1.Examobjfeesubmit.late_fee, new { @id = "lblFeeStatus", @readonly = true })</th>
                                            </tr>
                                            <tr>
                                                <th class="blue-bg">Processingfees (including GST)</th>
                                                <th> @Html.DisplayFor(model => model.Item1.Examobjfeesubmit.surcharge, new { @id = "lblFeeStatus", @readonly = true })</th>
                                            </tr>
                                            <tr>
                                                <th class="blue-bg">Total Amount</th>
                                                <th>@(Convert.ToDecimal(Model.Item1.Examobjfeesubmit.surcharge) + Convert.ToDecimal(Model.Item1.Examobjfeesubmit.Fees) +    Convert.ToDecimal(Model.Item1.Examobjfeesubmit.late_fee))</th>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                    if (Model != null)
                                    {
                                        if (Model.Item1.objExamFrom != null)
                                        {
                                            //if (Model.Item1.objExamFrom.IsExamFee != null)
                                            //{
                                            if (Model.Item1.objExamFrom.IsExamfeesubmit == 0)
                                            {
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td colspan="3">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                    <tr>
                                                        <th colspan="3" align="left" valign="middle" style="border-bottom:1px solid #ccc;   color:#FFF;  padding:5px 10px;" class="blue-bg">College Exam Fees Structure</th>
                                                    </tr>
                                                    @{int i = 0; decimal amt = 0;}
                                                    @foreach (var item in Model.Item3)
                                                    {
                                                        i = i + 1;

                                                        <tr>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;;font-weight:bold">@i</td>
                                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;;font-weight:bold">@item.headname + LateFee</td>
                                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@item.amount +@item.late_fee </span></td>
                                                        </tr>
                                                        amt = amt + item.amount + item.late_fee;

                                                    }
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;font-weight:bold" colspan="2">Total Fees</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px; border-bottom:1px solid #ccc;;font-weight:bold"><span id="">@amt</span></td>
                                                    </tr>


                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                                                }
                                                            }
                                                        }
                                    <div class="modal-area-button text-center">
                                        <div class="document-btn">
                                            <input type="hidden" name="GridHtml" />
                                            @if (Model != null)
                                            {
                                                if (Model.Item1.objExamFrom != null)
                                                {
                                                    //if (Model.Item1.objExamFrom.IsExamFee != null)
                                                    //{
                                                    if (Model.Item1.objExamFrom.IsExamfeesubmit == 0)
                                                    {
                                                        if (ViewBag.check_admissionopen == true)
                                                        {
                                                            @*<div>  LLB कोर्स  (LLB Semester - II) Examination Fees जल्द ही खुलने वाला है  (coming soon) </div>*@
                                            if (Model.Item1.objExamFrom.IsDocVerify == 1)
                                            {
                                                            <button class="Danger danger-color" style="color: #fff;" id="submit" onclick="return submitpay();" value="Pay Fees"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Pay Fees </button>
                                            }
                                            else
                                            {
                                                <strong>@(Model.Item1.objExamFrom.IsDocVerify == 1 ? "Your Document is Approved ,Now you eligible to pay Exam fees. " : (Model.Item1.objExamFrom.IsDocVerify == 2 ? "Your Form is Reject ,Due to :- " + Model.Item1.objExamFrom.rejectreason + "" : "Pending,  Please Go to College for Verify your form .") )</strong>}
                                                }

                                            }
                                            else
                                            {
                                                        <button class="Danger danger-color" style="color: #fff;" type="button" id="PrintRecipt"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Receipt</button>

                                                    }
                                                    //}
                                                }
                                            }
                                            @*<button class="Danger danger-color" style="color: #fff;" type="button" id="btnPrint"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Exam Application</button>*@
                                            @*<button class="Danger danger-color" style="color: #fff;" type="button" id="PrintRecipt"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Receipt</button>*@
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
}
else
{
    <tr>
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" colspan="2" calign="left" valign="top" style="padding:15px 0 0;">
                        17. <label>
                            <input type="checkbox" style="vertical-align:middle; display:inline-block;" name="checkboxid" id="checkboxid">
                            <span style="vertical-align:middle; display:inline-block;"> I hereby declared that above details are correct and i have verified.</span>
                        </label>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="100%" colspan="2" calign="left" valign="top" style="padding:15px 0 0;">
                                                        <div class="modal-area-button text-center">
                                                            <div class="document-btn">
                                                                @if (ViewBag.check_admissionopen == true)
                                                                {
                                                                    if (@Model.Item1.objExamFrom.RegistrationNo == null || @Model.Item1.objExamFrom.RegistrationNo == "")
                                                                    {
                                                                        <div> Registration Fee not submit </div>
                                                                    }
                                                                    else
                                                                    {
                                                                <button class="Danger danger-color" style="color: #fff;" onclick="return Checkboxclick();"  type="submit" name="applyadmissionform" value="applyadmissionform" id="applyadmissionform"><i class="fa fa-print"></i>&nbsp;&nbsp;Apply Examination form </button>
                                                                        }
                                                                    }
                                                                    else

                                                                    {<div > Date Cloesd </div >}

</div>
                                                            </div>
                                                    </td>

                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
}
                                    <tr>
                                        <td colspan="3" align="left" valign="middle"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" valign="top">&nbsp;</td>
                        </tr>
                    </table>

                </div>
            </div>
            }
        </div>
    </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="divtoPrint">

                <div style="width:100%; margin:auto; padding:0; font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif; border:1px solid #333; ">
                    <div style="padding:20px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="3" align="center" valign="middle"><img src="~/images/mu-logo-white.png" width="300" ></td>

                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>

                                <td width="23%" align="center" valign="middle"> &nbsp;</td>
                                <td width="55%" align="center" valign="middle" style="font-size:18px;"><strong> EXAMINATION FORM</strong></td>
                                <td width="22%" align="center" valign="middle">&nbsp;</td>
                            </tr>
                          
                            <tr>
                                <td colspan="3" align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="middle" style="border-top:1px solid #333;">&nbsp;</td>
                            </tr>

                            <tr>
                                <td colspan="3" align="center" valign="middle" style="font-size:16px;"><strong> Bachelor of @Model.Item1.objExamFrom.CourseCategory @Model.Item1.objExamFrom.YearName @Model.Item1.objExamFrom.SessionName </strong></td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">Name of the college:</td>
                                <td align="left" valign="top">@Model.Item1.objExamFrom.CollegeName</td>
                                <td rowspan="19" align="left" valign="top" style="padding:0 5px;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="border:1px solid #333; "><img id="userImage" src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.photo" alt="Passport Size Photo" width="100" style="max-height:130px;border:1px solid #333;" /></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="border:1px solid #333; "><img id="userSign" src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.sign" width="70" style="max-height:130px" alt="अंग्रेजी में छात्र का हस्ताक्षर" /></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle">&nbsp;</td>
                                        </tr>
                                       
                                    </table>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Name of the student :</td>
                                <td align="left">@Model.Item1.objExamFrom.StudentName</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">छात्र का नाम :</td>
                                <td align="left">@Model.Item1.objExamFrom.StudentNameHindi</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Date of Birth :</td>
                                <td align="left">@Model.Item1.objExamFrom.DOB</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Father Name : </td>
                                <td align="left">@Model.Item1.objExamFrom.FatherName</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Mother Name : </td>
                                <td align="left">@Model.Item1.objExamFrom.MotherName</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Student Address :</td>
                                <td align="left">@Model.Item1.objExamFrom.CurrentAddress</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Contact No. :</td>
                                <td align="left">@Model.Item1.objExamFrom.MobileNo</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">&nbsp;</td>
                            </tr>
                            <tr valign="top">
                                <td colspan="2" align="left">
                                   
                                </td>
                            </tr>
                            <tr valign="top">
                                <td align="left">Registration No:</td>
                                <td align="left">@Model.Item1.objExamFrom.RegistrationNo</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" valign="middle"><h3>Subject Taken :</h3></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #333;">
                                        <tr>
                                            <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333; border-right:1px solid #333;">Honours</th>
                                            <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333; border-right:1px solid #333;">Subsidiary - I</th>
                                            <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333; border-right:1px solid #333;">Subsidiary - II</th>
                                            <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333;border-left:1px solid #333;">Compulsory</th>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333; height:100px;">@Model.Item1.objExamFrom.HonoursSubject</td>
                                            <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333;">@Model.Item1.objExamFrom.Subsidiary1Subject</td>
                                            <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333;">@Model.Item1.objExamFrom.Subsidiary2Subject</td>
                                            <td align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333;border-right:1px solid #333;">@Model.Item1.objExamFrom.Compulsory1Subject<br />@Model.Item1.objExamFrom.Compulsory2Subject</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding:0 15px; ">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><span style="color:#06056c; ">   Date:- @System.DateTime.Now.ToString("dd MMM yyyy")</span></td>
                                            <td align="right"><span style="color:#06056c;text-align:right">Place:- @Model.Item1.objExamFrom.City</span></td>
                                        </tr>


                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">
                                    <label>
                                     </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>


                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="middle">&nbsp;</td>
                            </tr>
                        </table>
                        <table width="600px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                            <tr>
                                <td colspan="2">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td colspan="3">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                    <tr>
                                                        <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Fees Submit</th>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Registration No</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@Model.Item1.objExamFrom.RegistrationNo </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:5px 10px;">Session</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;"><span id="FeeSession">@Model.Item1.objExamFrom.SessionName</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">College</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeTitle"></span>@Model.Item1.objExamFrom.CollegeName</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Fees</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">@Model.Item1.Examobjfeesubmit.Fees</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Course</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeSubjectcate">@Model.Item1.objExamFrom.CourseCategory &nbsp; @Model.Item1.objExamFrom.YearName</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Caste Category</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.Item1.Examobjfeesubmit.CastCategort</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.Examobjfeesubmit.FeeStatus</span></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                            <!-- / Subject -->

                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>

                            <tr>
                                <td width="100%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                        <tr>
                                            <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="bankName">@Model.Item1.objPrintRecipt.status</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Bank Reference Number</td>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="PayName">@Model.Item1.objPrintRecipt.banktrxid</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction ID</td>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="cardNum">@Model.Item1.objPrintRecipt.TransactionId</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.Item1.objPrintRecipt.trxdate</span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                            <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="Expires">@Model.Item1.objPrintRecipt.PaymentType</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="dvPrintRecipt">
                <div style="border-bottom:5px solid #05046c; margin-bottom:25px; text-align:center; padding:15px 0;"><img id="logo" width="300px"></div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">
                    @*<h1 style="text-align:center; padding:15px 0; font-size:22px;">Exam Fees Receipt</h1>*@
                    
                    <table width="800px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">
                                            @if (Convert.ToString(Model.Item1.Examobjfeesubmit.FeeStatus).ToLower() == "Paid".ToLower())
                                            {
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                    <tr>
                                                        <td align="left" valign="top">Form No. @Model.Item1.objExamFrom.formno</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:5px 0;"><strong>EXAMINATION FORM</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" style="font-family:20px; padding:5px 0;">
                                                            @Model.Item1.objExamFrom.CourseCategory THREE YEAR COURSE
                                                            SESSION-(@Model.Item1.objExamFrom.SessionName) EXAMINATION - @Model.Item1.objExamFrom.currentyear <br>@Model.Item1.objExamFrom.YearName
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="84%" align="left" valign="top" style="font-family:16px; padding:5px 0;">The Controller of Examinations,</td>
                                                                    <td width="16%" rowspan="5" align="left" valign="top">
                                                                        <div style="border:0px solid #333; width:133px; height:125px; padding:5px;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td align="center" valign="middle" max-height:130px;"><img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.photo" style="max-height:110px;" alt="Passport Size Photo" /></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" valign="middle">&nbsp;</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="font-family:16px; padding:5px 0;"><strong>Munger University</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="font-family:16px; padding:5px 0;"><strong>Demo</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" style="font-family:16px; padding:5px 0;">(TO BE FILLED BY THE CANDIDATE)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:5px 0;">Sir, </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top" style="padding:15px 0;">Please allow me to appear at <strong>  @Model.Item1.objExamFrom.CourseCategory </strong> Three Years Law Degre Course </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding:15px 0;">
                                                            <strong>  <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Item1.objExamFrom.YearName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong>
                                                            Examination Year  <strong> <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @Model.Item1.objExamFrom.currentyear &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </strong> I hearby deposit a sum of Rs <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(Model.Item1.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Item1.Examobjfeesubmit.Fees))</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> only as examination fee.
                                                        </td>
                                                    </tr>
                                                   
                                                    <tr>
                                                        <td align="left" valign="top" style="padding:0 0 5px">I undertake the responsibility for the information furnished below:</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top">
                                                            &nbsp;<img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.sign" width="70" style="max-height:70px;" alt="अंग्रेजी में छात्र का हस्ताक्षर" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top">Full Signature of the Applicant</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;<hr /></td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            }
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                <tr>
                                                    <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">@Html.DisplayFor(model => model.Item1.objExamFrom.CourseCategory) @Html.DisplayFor(model => model.Item1.objExamFrom.YearName) Subject List:</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;border-right:1px solid #ccc;     width:50%; background-color:#44438e; color:#FFF;  padding:5px 10px;">Paper</th>
                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  width:50%;background-color:#44438e; color:#FFF;  padding:5px 10px;">Name of Subjects</th>
                                                </tr>
                                               
                                                
                                                @if (Model.Item4.Count > 0)
                                                {
                                                    foreach (var item in Model.Item4)
                                                    {
                                                        <tr>
                                                            <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;    padding:5px 10px;">@item.SubjectCode</th>
                                                            <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;      padding:5px 10px;">@item.SubjectName</th>
                                                        </tr>

                                                    }
                                                }


                                               
                                                </table>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                    <tr>
                                                        <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Exam Fees Receipt</th>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;width:25% ; padding:5px 10px;">College</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;" colspan="3"><span id="FeeTitle"></span>@Model.Item1.objExamFrom.CollegeName</td>


                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Course</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee; border-right:1px solid #ccc "><span id="FeeSubjectcate">@Model.Item1.objExamFrom.CourseCategory @Model.Item1.objExamFrom.YearName </span></td>

                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;background-color:#eee;">Session</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="FeeSession">@Model.Item1.objExamFrom.SessionName</span></td>
                                                        @*<td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Subject</td>
                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeSubjectcate">@Model.Item1.objExamFrom.HonoursSubject </span></td>*@
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Application No</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; border-right:1px solid #ccc">
                                                            <span id="">@Model.Item1.Examobjfeesubmit.ApplicationNo </span>
                                                        </td>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;  ">Caste Category</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; "><span id="FeeCastCategory">@Model.Item1.Examobjfeesubmit.CastCategort</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Roll No </td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.Item1.objExamFrom.RollNo</span></td>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Registration No</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="">@Model.Item1.objExamFrom.RegistrationNo </span></td>
                                                    </tr>

                                                    <tr>

                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Exam Fees</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  border-right:1px solid #ccc "><span id="FeesPrice">@Model.Item1.Examobjfeesubmit.Fees</span></td>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;   padding:5px 10px;">Late Fees</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  "><span id="FeesPrice">@Model.Item1.Examobjfeesubmit.late_fee</span></td>

                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Processingfees (including GST) </td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;  border-right:1px solid #ccc"><span id="FeesPrice">@(Model.Item1.Examobjfeesubmit.surcharge)</span></td>

                                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Total Fee Amount</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">@(Model.Item1.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Item1.Examobjfeesubmit.Fees) + Model.Item1.Examobjfeesubmit.surcharge)</span></td>



                                                    </tr>


                                                    <tr>
                                                        <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc "><span id="bankName">@Model.Item1.objPrintRecipt.status</span></td>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;  border-right:1px solid #ccc;">Bank Reference Number</td>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; "><span id="PayName">@Model.Item1.objPrintRecipt.banktrxid</span></td>

                                                    </tr>

                                                    <tr>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;border-right:1px solid #ccc;">Transaction ID</td>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;background-color:#eee; border-right:1px solid #ccc"><span id="cardNum">@Model.Item1.objPrintRecipt.TransactionId</span></td>

                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.Item1.objPrintRecipt.trxdate</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc "><span id="Expires">@Model.Item1.objPrintRecipt.PaymentType</span></td>
                                                        <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                        <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.Examobjfeesubmit.FeeStatus</span></td>
                                                    </tr>
                                                </table>
</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <!-- / Subject -->



                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  function  Checkboxclick() {
        debugger;
        var isappeared = $('#isappeared').val();
        if (isappeared == "") {
            showAlert('Please Select your last appeared earlier/Failed !!!! ');
            hideloader();
            return false;
        }
        if ($('#checkboxid').is(":checked"))
        {
            //showloader();
          // $("#btnPrint").attr("href", " @Url.Action("ExamFeesSubmit", "Exam")");
            return true;
        }
        else
        {
            showAlert('Please verify your details by clicking on checkbox!!!! ');
            hideloader();
           return false;
        }
      return false;
    }
</script>

