
@using DataLayer
@model Tuple<DataLayer.PrintExamForm, DataLayer.QualifiationMasterList, List<DataLayer.EaxmFeesSubmit>, List<DataLayer.EaxmFeesSubmit>>
@{
    ViewBag.Title = "BackExamFeesSubmit1";
    Layout = "~/Areas/StudentPG/Views/Shared/_LayoutStudentPG.cshtml";

}

<script>
    var photurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+Model.Item1.objExamFrom.photo)";
    var signurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+ Model.Item1.objExamFrom.sign)";
    var logo1 = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["siteUrl"] + "/images/mu-logo-white.png")";
    $(function () {
        // encodeImage(photurl);
        //encodeImage1(signurl);
        encodeImage2(logo1);
        // encodeImage3(logo1);
    });

</script>
<script type="text/javascript">
    //function encodeImage(src, callback) {
    //    var canvas = document.createElement('canvas'),
    //        ctx = canvas.getContext('2d'),
    //        img = document.getElementById("userImage");
    //    img.onload = function () {
    //        canvas.width = 160;
    //        canvas.height = 150;
    //        ctx.drawImage(img, 0, 0, 160, 150);
    //        callback(canvas.toDataURL());
    //    }
    //    img.src = src;
    //}
    //function encodeImage1(src, callback) {
    //    var canvas = document.createElement('canvas'),
    //        ctx = canvas.getContext('2d'),
    //        img = document.getElementById("userSign");
    //    img.onload = function () {
    //        canvas.width = 140;
    //        canvas.height = 100;
    //        ctx.drawImage(img, 0, 0, 140, 100);
    //        callback(canvas.toDataURL());
    //    }
    //    img.src = src;
    //}
    function encodeImage2(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }

</script>
<style>
    .tab-content-details {
        padding: 0px 100px !important;
    }

    #pageheading {
        background-color: black;
        padding: 10px;
        color: white;
        width: 300px;
        border-radius: 5px;
        text-align: center;
    }
</style>
<script src="~/scripts/Customjs/ExamFeeSubmitPG.js?id=@System.Configuration.ConfigurationManager.AppSettings["Commonjs"]"></script>
<div class="container-fluid">
    @{

        if (TempData["msgfees"] == null) { }
        else
        {
            <div class="alert-wrap1 shadow-inner wrap-alert-b">

                <div class="alert alert-success " role="alert" style="text-align:center !important">
                    <div>@TempData["msgfees"]</div>

                </div>
            </div>
        }
    }
    <div class="sparkline12-list DocumentUpload">
        <div class="row">
            <div class="col-sm-12 col-xs-12 ">

                <div class="sparkline8-hd">
                    <div class="tab-content-details shadow-reset">
                        <center>
                            <h3 id="pageheading">

                                BackLog Exam - Form

                            </h3>
                            <div>
                                @Model.Item1.objExamFrom.CourseCategory  Course @Model.Item1.objExamFrom.YearName
                                , SESSION-(@Model.Item1.objExamFrom.SessionName) EXAMINATION - @Model.Item1.objExamFrom.currentyear
                            </div>
                        </center>

                    </div>
                    <div class="text-danger text-center">
                        @if (TempData["Msg"] != null)
                        {
                            @TempData["Msg"];
                        }

                    </div>

                </div>

                <div class="sparkline8-graph fee-submit">
                    <div class="static-table-list table-responsive">
                        @using (Html.BeginForm("BackExamFeesSubmit1", "ExamPG", FormMethod.Post, new { @class = "dropzone dropzone-custom needsclick add-professors", enctype = "multipart/form-data", id = "myform" }))
                        {
                            <div style="width:100%; margin:auto; padding:0; font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif; border:0px solid #333; padding:0px">

                                <div style="width:800px; margin:auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                        <tr>
                                            <td align="left" valign="top">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="font-size:18px; padding:5px 0;"><strong>PARTICULARS :</strong></td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="28%" align="left" valign="top" style="padding:15px 0 0;">1. Registration No </td>
                                                        <td width="72%" align="left" valign="top" style="padding:0px 0 0; ">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>

                                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;" width="180">&nbsp;@Model.Item1.objExamFrom.RegistrationNo</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="200">&nbsp;Year of Registration:</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="218">&nbsp;@Model.Item1.objExamFrom.Registrationyear</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top" style="padding:15px 0 0;">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="80%" valign="top">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td align="left" width="40%" valign="top" style="padding:15px 0 0;">2. Roll No </td>
                                                                                <td align="left" width="60%" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.RollNo</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" width="40%" valign="top" style="padding:15px 0 0;">3. Name in block Letter in English</td>
                                                                                <td align="left" width="60%" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.StudentName</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;">4. Name in Devnagari</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.StudentNameHindi</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;">5. Name of Examination</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.CourseCategory  @Html.DisplayFor(model => model.Item1.objExamFrom.YearName)</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;">6. Date of birth</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.DOB</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;">7. Contact No</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.MobileNo</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;">8. @(Model.Item1.objExamFrom.ftitle == 20 ? " Father's  Name" : (Model.Item1.objExamFrom.ftitle == 21 ? "  Husband's  Name" : " Father's  Name") )</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.FatherName</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;">9. Mother’s Name</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.MotherName</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td width="20%" valign="top">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td align="center" valign="middle">
                                                                                    &nbsp;<div style="width:125px; height:125px; padding:5px;">
                                                                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.photo" width="100%" style="border:1px solid #333; " alt="  />
                                                                                    </div>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center" valign="middle">&nbsp;<br /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="middle">&nbsp;<br /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="middle">
                                                                                    <div style="width:125px; height:80px; padding:5px;">
                                                                                        <br /><br />
                                                                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.sign" width="100%" style="border:1px solid #333; " alt="  />
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="middle">&nbsp;</td>
                                                                            </tr>

                                                                        </table>
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="93">10. Nationality:</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;" width="130">&nbsp;@Model.Item1.objExamFrom.Nationality</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="66">&nbsp;Religion:</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="182">&nbsp;@Model.Item1.objExamFrom.Religion</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;" width="76">&nbsp;Category:</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="190">&nbsp;@Model.Item1.objExamFrom.castecategoryname</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top" style="padding:15px 0 0;">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="10%" rowspan="10" align="left" valign="top" style="padding:15px 0 0;">11. Address:</td>
                                                                    <td width="90%" align="left" valign="top">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20%" align="left" valign="top" style="padding:15px 0 0;">(a) Permanent</td>
                                                                                <td width="80%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.permanentAddress</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>



                                                                <tr>
                                                                    <td align="left" valign="top">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20%" align="left" valign="top" style="padding:15px 0 0;">(b) Correspondence </td>
                                                                                <td width="80%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.CurrentAddress</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="28%" align="left" valign="top" style="padding:15px 0 0;">12. College Name</td>
                                                        <td width="72%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.Item1.objExamFrom.CollegeName</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding:15px 0 0;"> 13. <strong>Subjects of Examination </strong> </td>
                                                        <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;"><strong> &nbsp;@Model.Item1.objExamFrom.HonoursSubject</strong> </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="30%" align="left" valign="top" style="padding:15px 0 0;">14.<strong> @Html.DisplayFor(model => model.Item1.objExamFrom.CourseCategory) @Html.DisplayFor(model => model.Item1.objExamFrom.YearName)  Subject :</strong></td>
                                                                    <td width="70%" align="left" valign="top" style="padding:15px 0 0; ">

                                                                        <table style="border-spacing:0;width:100%;">
                                                                            <thead>
                                                                            <th style="border:1px solid grey;border-bottom:none;padding:5px;background:#404040;color:#fff;font-size:16px;font-weight:500;">Paper</th>
                                                                            <th style="border:1px solid grey;border-bottom:none;padding:5px;background:#404040;color:#fff;font-size:16px;font-weight:500;">Name of Subject</th>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model.Item4.Count > 0)
                                                                                {
                                                                                    foreach (var item in Model.Item4)
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="border-bottom:1px solid grey;border-left:1px solid grey;border-right:1px solid grey;padding:5px;border-top:1px solid grey;"><b>@item.SubjectCode</b></td>
                                                                                            <td style="border-bottom:1px solid grey;border-left:1px solid grey;border-right:1px solid grey;padding:5px;border-top:1px solid grey;"> @item.SubjectName</td>
                                                                                        </tr>
                                                                                    }
                                                                                }

                                                                            </tbody>
                                                                        </table>



                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>


                                                    @*<tr>
                                                            <td colspan="2" align="left" valign="top">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td width="30%" align="left" valign="top" style="padding:15px 0 0;"> If appeared earlier / Failed:</td>
                                                                        <td width="70%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">
                                                                            @if (Model.Item1.objExamFrom.IsApplied == false)
                                                                            {
                                                                                <select style="width:100%; border:0; border-bottom:border-bottom:1px dotted #000;" id="isappeared" name="isappeared" class="form-control">
                                                                                    <option value="">Select</option>
                                                                                    <option value="1"> Yes</option>
                                                                                    <option value="0">No</option>
                                                                                </select>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div>@(Model.Item1.objExamFrom.isappearedearlierfail == true ? "Yes" : "No" )</div>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>*@



                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="100%" colspan="2" calign="left" valign="top" style="padding:15px 0 0;">
                                                                        <label>
                                                                            @if (Model.Item1.objExamFrom.IsApplied == false)
                                                                            {

                                                                                <input type="checkbox" style="vertical-align:middle; display:inline-block;" name="checkboxid" id="checkboxid">
                                                                                <span style="vertical-align:middle; display:inline-block;"> I hereby declared that above details are correct and i have verified.</span>

                                                                            }
                                                                            else

                                                                            {
                                                                                <input type="checkbox" style="vertical-align:middle; display:inline-block;" name="checkboxid" id="checkboxid" checked disabled>
                                                                                <span style="vertical-align:middle; display:inline-block;"> I hereby declared that above details are correct and i have verified.</span>

                                                                            }
                                                                        </label>
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="100%" colspan="2" calign="left" valign="top" style="padding:15px 0 0;">
                                                                        <div class="sparkline12-graph fee-submit">
                                                                            <div class="static-table-list table-responsive">

                                                                                <table class="table">

                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th class="blue-bg">College Name </th>
                                                                                            <th> @Html.DisplayFor(model => Model.Item1.objExamFrom.CollegeName)</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="blue-bg">Course</th>
                                                                                            <th> @Html.DisplayFor(model => model.Item1.objExamFrom.CourseCategory) &nbsp; @Html.DisplayFor(model => model.Item1.objExamFrom.YearName)</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="blue-bg">Rollno</th>
                                                                                            <th> @Html.DisplayFor(model => Model.Item1.objExamFrom.RollNo)</th>
                                                                                        </tr>

                                                                                        <tr>
                                                                                            <th class="blue-bg" width="400">Fee Status</th>
                                                                                            <th>
                                                                                                @if (Model.Item1.objExamFrom.IsExamfeesubmit == 1)
                                                                                                {
                                                                                                    <span style="color:green" id="">@Model.Item1.Examobjfeesubmit.FeeStatus</span>
                                                                                                }
                                                                                                else
                                                                                                { <span style="color:red">@Model.Item1.Examobjfeesubmit.FeeStatus</span>}
                                                                                            </th>
                                                                                        </tr>
                                                                                        @if (Model.Item1.objExamFrom.IsExamfeesubmit == 1)
                                                                                        {
                                                                                            <tr>
                                                                                                <th class="blue-bg">Fees Amount</th>
                                                                                                <th> @Html.DisplayFor(model => model.Item1.Examobjfeesubmit.Fees, new { @id = "lblFeeStatus", @readonly = true })</th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="blue-bg">Late Amount</th>
                                                                                                <th> @Html.DisplayFor(model => model.Item1.Examobjfeesubmit.late_fee, new { @id = "lblFeeStatus", @readonly = true })</th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="blue-bg">Processingfees (including GST)</th>
                                                                                                <th> @Html.DisplayFor(model => model.Item1.Examobjfeesubmit.surcharge, new { @id = "lblFeeStatus", @readonly = true })</th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th class="blue-bg">Total Amount</th>
                                                                                                <th>@(Convert.ToDecimal(Model.Item1.Examobjfeesubmit.surcharge) + Convert.ToDecimal(Model.Item1.Examobjfeesubmit.Fees) + Convert.ToDecimal(Model.Item1.Examobjfeesubmit.late_fee))</th>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                                @if (Model != null)
                                                                                {
                                                                                    if (Model.Item1.objExamFrom != null)
                                                                                    {

                                                                                        if (Model.Item1.objExamFrom.IsExamfeesubmit == 0)
                                                                                        {
                                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                <tr>
                                                                                                    <td colspan="3">
                                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                                                                            <tr>
                                                                                                                <th colspan="3" align="left" valign="middle" style="border-bottom:1px solid #ccc;   color:#FFF;  padding:5px 10px;" class="blue-bg"> Exam Fees Structure</th>
                                                                                                            </tr>
                                                                                                            @{int i = 0; decimal amt = 0;}
                                                                                                            @foreach (var item in Model.Item3)
                                                                                                            {
                                                                                                                i = i + 1;

                                                                                                                <tr>
                                                                                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;;font-weight:bold">@i</td>
                                                                                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;;font-weight:bold">@item.headname + LateFee</td>
                                                                                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@item.amount +@item.late_fee </span></td>
                                                                                                                </tr>
                                                                                                                amt = amt + item.amount + item.late_fee;

                                                                                                            }
                                                                                                            <tr>
                                                                                                                <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;font-weight:bold" colspan="2">Total Fees</td>
                                                                                                                <td align="left" valign="middle" style="padding:5px 10px; border-bottom:1px solid #ccc;;font-weight:bold"><span id="">@amt</span></td>
                                                                                                            </tr>


                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        }
                                                                                    }
                                                                                }
                                                                                <div class="modal-area-button text-center">
                                                                                    <div class="document-btn">
                                                                                        <input type="hidden" name="GridHtml" />
                                                                                        @if (Model != null)
                                                                                        {
                                                                                            if (Model.Item1.objExamFrom != null)
                                                                                            {

                                                                                                if (Model.Item1.objExamFrom.IsExamfeesubmit == 0)
                                                                                                {
                                                                                                    if (ViewBag.check_ExamFeeSubmit_open == true && ViewBag.check_ExamFeeSubmit_Close == true)
                                                                                                    {

                                                                                                        if (Model.Item1.objExamFrom.IsDocVerify == 1)
                                                                                                        {
                                                                                                            if (ViewBag.check_ExamFeeSubmit_open == true && ViewBag.check_ExamFeeSubmit_Close == true)
                                                                                                            {
                                                                                                                <button class="Danger danger-color" style="color: #fff;" id="submit" onclick="return Checkboxclick();" value="Pay Fees"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Pay Fees1 </button>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <div style="font-weight:bolder;color:red"> Date Closed </div>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            if (ViewBag.check_ExamFeeSubmit_open == true && ViewBag.check_ExamFeeSubmit_Close == true)
                                                                                                            {
                                                                                                                if (@Model.Item1.objExamFrom.RegistrationNo == null || @Model.Item1.objExamFrom.RegistrationNo == "")
                                                                                                                {
                                                                                                                    <div> Registration Fee not submit </div>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    if (Model.Item1.objExamFrom.IsApplied == true)
                                                                                                                    {
                                                                                                                        <div style="font-weight:bolder;color:red">  Pending,  Please Go to College for Verify your form </div>

                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <button class="Danger danger-color" style="color: #fff;" onclick="return Checkboxclick();" type="submit" name="applyadmissionform" value="applyadmissionform" id="applyadmissionform"><i class="fa fa-print"></i>&nbsp;&nbsp;@*Apply Examination form*@ Pay Fees </button>
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <div style="font-weight:bolder;color:red"> Date Closed </div>
                                                                                                            }

                                                                                                        }
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <div style="font-weight:bolder;color:red"> Date Closed </div>
                                                                                                    }

                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <button class="Danger danger-color" style="color: #fff;" type="button" id="PrintRecipt"><i class="fa fa-print"></i>&nbsp;&nbsp;Download Receipt</button>

                                                                                                }

                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" align="left" valign="middle"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">&nbsp;</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="dvPrintRecipt">
                <div style="border-bottom:5px solid #05046c; margin-bottom:10px; text-align:center; padding:15px 0;">
                    <div> <img id="logo" width="500px"></div>
                    <div> <br /><strong>BACKLOG EXAMINATION FORM</strong></div>

                </div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">


                    <table width="800px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">
                                            @if (Convert.ToString(Model.Item1.Examobjfeesubmit.FeeStatus).ToLower() == "Paid".ToLower())
                                            {
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">


                                                    <tr>
                                                        <td align="center" valign="top" style="font-family:20px; padding:0;">
                                                            <b>
                                                                @Model.Item1.objExamFrom.CourseCategory  Course @Model.Item1.objExamFrom.YearName
                                                                , SESSION-(@Model.Item1.objExamFrom.SessionName) EXAMINATION - @Model.Item1.objExamFrom.currentyear
                                                            </b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:5px 0;">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" width="85%" style="padding-right:25px;">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="30%" align="left" valign="top" style="padding:25px 0 0;">
                                                                                    Name of Candidate <br>
                                                                                    (in capital Letters)
                                                                                </td>
                                                                                <td width="70%" align="left" valign="top" style="padding:25px 0 0; border-bottom:1px dotted #000;">@Model.Item1.objExamFrom.StudentName.ToUpper()</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:25px 0 0;">Date of birth</td>
                                                                                <td align="left" valign="top" style="padding:25px 0 0; border-bottom:1px dotted #000;">@Model.Item1.objExamFrom.DOB</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:25px 0 0;"> @(Model.Item1.objExamFrom.ftitle == 20 ? " Father  Name" : (Model.Item1.objExamFrom.ftitle == 21 ? "  Husband  Name" : " Father Name") ) </td>
                                                                                <td align="left" valign="top" style="padding:25px 0 0; border-bottom:1px dotted #000;">@Model.Item1.objExamFrom.FatherName</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:25px 0 0;"> Mother Name</td>
                                                                                <td align="left" valign="top" style="padding:25px 0 0; border-bottom:1px dotted #000;">@Model.Item1.objExamFrom.MotherName</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:25px 0 0;">Registration No </td>
                                                                                <td align="left" valign="top" style="padding:10px 0 0;">
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tr>
                                                                                            <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;" width="180">@Model.Item1.objExamFrom.RegistrationNo</td>
                                                                                            <td align="left" valign="top" style="padding:15px 0 0;" width="200">&nbsp;Year of Registration</td>
                                                                                            <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="218">&nbsp;@Model.Item1.objExamFrom.Registrationyear</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:25px 0 0;"> Roll No </td>
                                                                                <td align="left" valign="top" style="padding:25px 0 0; border-bottom:1px dotted #000;">@Model.Item1.objExamFrom.RollNo</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:25px 0 0;"> College Name </td>
                                                                                <td align="left" valign="top" style="padding:25px 0 0; border-bottom:1px dotted #000;">@Model.Item1.objExamFrom.CollegeName</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td align="right" valign="top" width="10%">
                                                                        <div style="width:125px; height:125px; padding:5px;">
                                                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.photo" width="125" style="max-height:125px;border:1px solid #333; " alt=" " />
                                                                        </div>
                                                                        <div>
                                                                            <br />
                                                                        </div>
                                                                        <div style=" width:125px; height:80px; padding:5px;">
                                                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.Item1.objExamFrom.sign" style="max-height:80px;max-width:125px;border:1px solid #333; " alt="अंग्रेजी में छात्र का हस्ताक्षर" />
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" align="left" valign="top">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td align="left" valign="bottom" style="padding:15px 0 0;">
                                                                                    <div>
                                                                                        <h3 style="margin-bottom:20px;margin-top:30px;">Subjects of Examination : @Model.Item1.objExamFrom.HonoursSubject</h3>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table style="border-spacing:0;width:100%;">
                                                                                        <thead>
                                                                                        <th colspan="3" style="border:1px solid grey;border-bottom:none;padding:5px;background:#44438e;color:#fff;font-size:16px;font-weight:500;">Subject Details</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @if (Model.Item4.Count > 0)
                                                                                            {
                                                                                                foreach (var item in Model.Item4)
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td style="border-bottom:1px solid grey;border-left:1px solid grey;border-right:1px solid grey;padding:5px;border-top:1px solid grey;"><b>@item.SubjectCode</b></td>
                                                                                                        <td style="border-bottom:1px solid grey;border-left:1px solid grey;border-right:1px solid grey;padding:5px;border-top:1px solid grey;"> @item.SubjectName</td>
                                                                                                    </tr>
                                                                                                }
                                                                                            }

                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" align="left" valign="middle"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }


                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                    <tr>
                                        <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Exam Fees Receipt</th>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;width:25% ; padding:5px 10px;background-color:#eee;">Name</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;" colspan="3"><span id="FeeTitle"></span>@Model.Item1.objExamFrom.StudentName.ToUpper()</td>


                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;width:25% ; padding:5px 10px;">College</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;" colspan="3"><span id="FeeTitle"></span>@Model.Item1.objExamFrom.CollegeName</td>


                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Course</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee; border-right:1px solid #ccc "><span id="FeeSubjectcate">@Model.Item1.objExamFrom.CourseCategory @Model.Item1.objExamFrom.YearName </span></td>

                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;background-color:#eee;">Session</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="FeeSession">@Model.Item1.objExamFrom.SessionName</span></td>

                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Application No</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; border-right:1px solid #ccc">
                                            <span id="">@Model.Item1.Examobjfeesubmit.ApplicationNo </span>
                                        </td>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;  ">Caste Category</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; "><span id="FeeCastCategory">@Model.Item1.Examobjfeesubmit.CastCategort</span></td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Roll No </td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.Item1.objExamFrom.RollNo</span></td>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Registration No</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="">@Model.Item1.objExamFrom.RegistrationNo </span></td>
                                    </tr>

                                    <tr>

                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Exam Fees</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  border-right:1px solid #ccc "><span id="FeesPrice">@Model.Item1.Examobjfeesubmit.Fees</span></td>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;   padding:5px 10px;">Late Fees</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  "><span id="FeesPrice">@Model.Item1.Examobjfeesubmit.late_fee</span></td>

                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Processingfees (including GST) </td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;  border-right:1px solid #ccc"><span id="FeesPrice">@(Model.Item1.Examobjfeesubmit.surcharge)</span></td>

                                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Total Fee Amount</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">@(Model.Item1.Examobjfeesubmit.late_fee + Convert.ToDecimal(Model.Item1.Examobjfeesubmit.Fees) + Model.Item1.Examobjfeesubmit.surcharge)</span></td>



                                    </tr>


                                    <tr>
                                        <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc "><span id="bankName">@Model.Item1.objPrintRecipt.status</span></td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;  border-right:1px solid #ccc;">Bank Reference Number</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; "><span id="PayName">@Model.Item1.objPrintRecipt.banktrxid</span></td>

                                    </tr>

                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;border-right:1px solid #ccc;">Transaction ID</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;background-color:#eee; border-right:1px solid #ccc"><span id="cardNum">@Model.Item1.objPrintRecipt.TransactionId</span></td>

                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.Item1.objPrintRecipt.trxdate</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc "><span id="Expires">@Model.Item1.objPrintRecipt.PaymentType</span></td>
                                        <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                        <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.Examobjfeesubmit.FeeStatus</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Checkboxclick() {
        debugger;
        var isappeared = $('#isappeared').val();
        if (isappeared == "") {
            showAlert('Please Select your last appeared earlier/Failed !!!! ');
            hideloader();
            return false;
        }
        if ($('#checkboxid').is(":checked")) {

            return true;
        }
        else {
            showAlert('Please verify your details by clicking on checkbox!!!! ');
            hideloader();
            return false;
        }
        return false;
    }

</script>
