@*﻿@model DataLayer.AdmissionFeesSubmit*@
@model Tuple<DataLayer.AdmissionFeesSubmit, List<DataLayer.AdmissionFeesSubmit>>
<script>
    @*var photurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+Model.ObjApplication.stphoto)";
    var signurl = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]+"/Student/Photoandsign/"+ Model.ObjApplication.stsign)";*@
    var logo1 = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["siteUrl"] + "/images/mu-logo-white.png")";
    $(function () {
     //   encodeImage(photurl);
       // encodeImage1(signurl);
       // encodeImage2(logo1);
        encodeImage3(logo1);
    });

</script>
<script type="text/javascript">
    //function encodeImage(src, callback) {
    //    var canvas = document.createElement('canvas'),
    //        ctx = canvas.getContext('2d'),
    //        img = document.getElementById("userImage");
    //    img.onload = function () {
    //        canvas.width = 160;
    //        canvas.height = 150;
    //        ctx.drawImage(img, 0, 0, 160, 150);
    //        callback(canvas.toDataURL());
    //    }
    //    img.src = src;
    //}
    //function encodeImage1(src, callback) {
    //    var canvas = document.createElement('canvas'),
    //        ctx = canvas.getContext('2d'),
    //        img = document.getElementById("userSign");
    //    img.onload = function () {
    //        canvas.width = 140;
    //        canvas.height = 100;
    //        ctx.drawImage(img, 0, 0, 140, 100);
    //        callback(canvas.toDataURL());
    //    }
    //    img.src = src;
    //}
    //function encodeImage2(src, callback) {
    //    var canvas = document.createElement('canvas'),
    //        ctx = canvas.getContext('2d'),
    //        img = document.getElementById("logo");
    //    img.onload = function () {
    //        canvas.width = 140;
    //        canvas.height = 100;
    //        ctx.drawImage(img, 0, 0, 140, 100);
    //        callback(canvas.toDataURL());
    //    }
    //    img.src = src;
    //}
    function encodeImage3(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo2");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
    //$(document).on('click', '#btnPrint', function () {
    //    ExportToPDFApplicationform($('#divtoPrint'), [], '', PDFPageType.Portrait, 'ApplicationForm');
    //});
    //$(document).on('click', '#PrintRecipt', function () {

    //    ExportToPDFApplicationformfeesrec($('#dvPrintRecipt'), [], '', PDFPageType.Portrait, 'ApplicationFormFeeReceipt');
    //});
   

    $(document).on('click', '#PrintRecipt', function () {
        //ExportToPDFApplicationform($('#dvPrintRecipt'), [], '', PDFPageType.Portrait, 'AdmissionFeeRecipt');
        ExportToPDFApplicationformfeesrec($('#dvPrintRecipt'), [], '', PDFPageType.Portrait, 'AdmissionFeeRecipt');
    });
    function ExportToPDFApplicationformfeesrec(DivName, TableColumnHide, ReportHeading, PageType, Applicationform) {
        debugger;
        /// <summary>Function to convert HTML to PDF.</summary>
        /// <param name="DivName">Name of the Div  with selector which contains all the html to print.</param>
        /// <param name="TableColumnHide" type="array">Pass array of columns to be hidden like [2,5,6] in a Table.</param>
        /// <param name="ReportHeading">Heading of the Report</param>
        /// <param name="PageType">Provide page type from enum PDFPageType </param>
        /// <returns>PDF File</returns>
        var PDFtable = DivName.find('table');
        if (TableColumnHide) {
            $.each(TableColumnHide, function (index, value) {
                PDFtable.find('td:nth-child(' + value + '),th:nth-child(' + value + ')').hide();  //hiding the columns of the table inside Div
            });
        }
        PDFtable.attr('border', '0');//applied 1 to table attribute border so we can get border in the Table
        var printContents = '<html><head><title></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body><div style="font-size: 25px;" ><center>' + ReportHeading + '</center></div><br />' + DivName.html() + '</body></html>';

        $('body').prepend("<form method='post' action='/StudentV/Homev/PrintApplicationCallReceipt' id='tempForm2'><input type='hidden' name='data1' value='" + printContents + "' ><input type='hidden' name='dataname1' value='" + Applicationform + "' ><input type='hidden' name='PageType1' value='" + PageType + "' ></form>");
        $('#tempForm2').submit();
        $("tempForm2").remove();
        if (TableColumnHide) {
            $.each(TableColumnHide, function (index, value) {
                PDFtable.find('td:nth-child(' + value + '),th:nth-child(' + value + ')').show(); // //Again Showing the columns of the table inside Div
            });
        }
    }
    /// <summary>Enum for Page Type</summary>
    var PDFPageType = {
        Default: 'Default',
        Portrait: 'Portrait',
        Landscape: 'Landscape'
    }
</script>
@if (Model.Item1 != null)
{
<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="dvPrintRecipt">
                <div style="border-bottom:5px solid #05046c; margin-bottom:25px; text-align:center; padding:15px 0;"><img id="logo2" width="300px"></div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">
                    <h1 style="text-align:center; padding:15px 0; font-size:22px;">Admission Fees Receipt</h1>
                    <table width="600px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                <tr>
                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Fees Submit</th>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Application No</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@Model.Item1.ApplicationNo </span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:5px 10px;">Session</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;"><span id="FeeSession">@Model.Item1.Session</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Programme</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeTitle"></span>@Model.Item1.Title</td>
                                                </tr>

                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Course</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee; "><span id="FeeSubjectcate">@Model.Item1.Course</span></td>
                                                </tr>
                                              
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Caste Category</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.Item1.CastCategort</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.FeeStatus</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Fees Amount</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;background-color:#eee;"><span id="FeeIsStatus">@Model.Item1.Fees</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;">Processingfees (including GST) </td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.surcharge</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Total Amount</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;background-color:#eee;"><span id="FeeIsStatus">@(Convert.ToDecimal(Model.Item1.surcharge) + Convert.ToDecimal(Model.Item1.Fees))</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">College Name</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px; "><span id="FeeIsStatus">@Model.Item1.CollegeName</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <!-- / Subject -->

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                    <tr>
                                        <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="bankName">@Model.Item1.FeeStatus</span></td>
                                    </tr>
                                    @*<tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Bank Reference Number</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="PayName">@Model.Item1.banktrxid</span></td>
                                    </tr>*@
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;"> Transaction ID</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="cardNum">@Model.Item1.clienttrxid</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.Item1.banktxndate</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="Expires">@Model.Item1.PaymentType</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
}