@*﻿@model DataLayer.AdmissionFeesSubmit*@
@model Tuple<DataLayer.AdmissionFeesSubmit, List<DataLayer.AdmissionFeesSubmit>>
@{
    ViewBag.Title = "AdmissionFeeSubmit";
    Layout = "~/Areas/StudentBPharma/Views/Shared/_LayoutStudentBPharma.cshtml";
    var applicationno = @DataLayer.ClsLanguage.GetCookies("NBApplicationNo");
}
<script>
    var sid = '@DataLayer.ClsLanguage.GetCookies("ENNBStID");';
    </script>
<script>
    $(function () {
        $("#myform").submit(function (e) {
            showloader();
        });
    });
</script>

<script>
      var logo1 = "@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["siteUrl"] + "/images/mu-logo-white.png")";
    $(function () {

        encodeImage3(logo1);
    });

</script>
<script type="text/javascript">

    function encodeImage3(src, callback) {
        var canvas = document.createElement('canvas'),
            ctx = canvas.getContext('2d'),
            img = document.getElementById("logo2");
        img.onload = function () {
            canvas.width = 140;
            canvas.height = 100;
            ctx.drawImage(img, 0, 0, 140, 100);
            callback(canvas.toDataURL());
        }
        img.src = src;
    }
</script>
<div class="container-fluid">
    @{

        if (TempData["msgerror"] == null) { }
        else
        {
            <div class="alert-wrap1 shadow-inner wrap-alert-b">

                <div class="alert alert-success " role="alert" style="text-align:center !important">
                    <div>@TempData["msgerror"]</div>

                </div>
            </div>
        }
    }
    <div class="sparkline8-list DocumentUpload">
        <div class="row">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2">

                <div class="sparkline8-hd">
                    <div class="tab-content-details shadow-reset">
                        <h3 id="pageheading">Admission Fees</h3>
                     
                    </div>
                    <div class="text-danger text-center">
                        @if (TempData["Msg"] != null)
                        {
                            @TempData["Msg"];
                        }
                    </div>
                    <center>

                        <h4><img src="~/Content/img/new6.gif" />If your college fees is more than 2000 then please choose Net banking & credit card as payment mode. !!</h4>

                    </center>
                </div>
                @if (ViewBag.addmissionExtenddate == false && ViewBag.addmissionStartdate == true)
                   {
                    <center>
                        <a style="color:red;font-size:60px"><span class="fa fa-times "></span></a><br /><br />
                        @if (@ViewBag.addmissionStartdateValue != null && @ViewBag.addmissionExtenddateValue != null)
                        {
                           
                             <h3>Last Date of Fees submission is @ViewBag.addmissionExtenddateValue</h3>

                        }
                    </center>
                }
    @if (ViewBag.Status == true)
    {
        if (ViewBag.IsAdmisApplied == true)
        {
            

<div class="sparkline8-graph fee-submit">
                <div class="static-table-list table-responsive">
                    @using (Html.BeginForm("AdmissionFeeSubmit", "HomeB", FormMethod.Post, new { @class = "dropzone dropzone-custom needsclick add-professors", enctype = "multipart/form-data", id = "myform" }))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="blue-bg bdr-none">Application No</th>
                                    <th class="bdr-none"> @Html.DisplayFor(model => model.Item1.ApplicationNo)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="blue-bg">Session</th>
                                    <th> @Html.DisplayFor(model => model.Item1.Session)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Programme </th>
                                    <th> @Html.DisplayFor(model => model.Item1.Title)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">College Name</th>
                                    <th> @Html.DisplayFor(model => model.Item1.CollegeName, new { @id = "lblCollegeName", @readonly = true })</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Course</th>
                                    <th> @Html.DisplayFor(model => model.Item1.Course)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Subject</th>
                                    <th> @Html.DisplayFor(model => model.Item1.Stream)</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Caste category</th>
                                    <th> @Html.DisplayFor(model => model.Item1.CastCategort)</th>
                                </tr>

                                <tr>
                                    <th class="blue-bg">Fee Status</th>
                                    <th> @Html.DisplayFor(model => model.Item1.FeeStatus1, new { @id = "lblFeeStatus", @readonly = true })</th>
                                </tr>
@if (ViewBag.isfeesubmitt == true)
{
                                <tr>
                                    <th class="blue-bg">Fees Amount</th>
                                    <th> @Html.DisplayFor(model => model.Item1.Fees, new { @id = "lblFeeStatus", @readonly = true })</th>
                                </tr>
                                <tr>
                                    <th class="blue-bg">Processingfees (including GST)</th>
                                    <th> @Html.DisplayFor(model => model.Item1.surcharge, new { @id = "lblFeeStatus", @readonly = true })</th>
                                 </tr>
                                <tr>
                                    <th class="blue-bg">Total Amount</th>
                                    <th>@(Convert.ToDecimal(Model.Item1.surcharge) + Convert.ToDecimal(Model.Item1.Fees))</th>
                                </tr>
                                }
                               
                            </tbody>
                        </table>

                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="3">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                        <tr> 
                                            <th colspan="3" align="left" valign="middle" style="border-bottom:1px solid #ccc;   color:#FFF;  padding:5px 10px;" class="blue-bg">College Fees Structure</th>
                                                </tr>
                                    @{int i = 0; decimal amt = 0;}
                                    @foreach (var item in Model.Item2)
                                    {
                                        i = i + 1;

                                        <tr>
                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;;font-weight:bold">@i</td>
                                            <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;;font-weight:bold">@item.headname</td>
                                            <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@item.amount </span></td>
                                        </tr>
                                        amt = amt + item.amount; 

                                    }
                                    <tr>
                                          <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;font-weight:bold" colspan="2">Total Fees</td>
                                        <td align="left" valign="middle" style="padding:5px 10px; border-bottom:1px solid #ccc;;font-weight:bold"><span id="">@amt</span></td>
                                    </tr>

                                        
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <div class="modal-area-button text-center">
                            <div class="document-btn">
                                <input type="hidden" name="GridHtml" />
                               @if (ViewBag.isfeesubmitt != true)
                               {
                                   if (ViewBag.addmissionExtenddate == true && ViewBag.addmissionStartdate == true)
                                   {
                                <button class="Danger danger-color" style="color: #fff;" type="submit" id="submit"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Pay Fees</button>
                                   }
                               }
                               else
                               {
                                <button class="Danger danger-color" style="color: #fff;" type="button" id="PrintRecipt"><i class="fa fa-print"></i>&nbsp;&nbsp;Print Receipt</button>
                               }


                            </div>
                        </div>
                    }
                </div>
            </div>
                                            //}
                                            //else
                                            //{

                                            //}
                                        }
                                        else
                                        {
            <div class="minheight ">

                <div class="advanced-form-area mg-b-15 ">
                    <div class="container-fluid col-md-10 col-md-offset-1 col-sm-12 " style="display:block" id="">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="text-align: left;">

                                    <div class="sparkline10-graph">
                                        <div class="input-knob-dial-wrap">
                                            <div>
                                                <div class="form-group-inner">
                                                    <div class="row login-btn-inner" style="margin:15px !important">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                            <div class="">

                                                                <center>
                                                                    <a style="color:red;font-size:60px"><span class="fa fa-times "></span></a><br /><br />
                                                                      <h3>You are not apply for admission</h3>

                                                                    
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </div>





                                                </div>

                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>}
    }
    else
    {
        <div class="minheight ">

            <div class="advanced-form-area mg-b-15 ">
                <div class="container-fluid col-md-10 col-md-offset-1 col-sm-12 " style="display:block" id="">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="text-align: left;">

                                <div class="sparkline10-graph">
                                    <div class="input-knob-dial-wrap">
                                        <div>
                                            <div class="form-group-inner">
                                                <div class="row login-btn-inner" style="margin:15px !important">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                        <div class="">

                                                            <center>
                                                                <a style="color:red;font-size:60px"><span class="fa fa-times "></span></a><br /><br />
                                                                <h3>You are not authorized to access this page!!!</h3>

                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>





                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


@*}*@


               

            </div>

        </div>
    </div>
</div>
<script>
    $(document).on('click', '#PrintRecipt', function () {
        //ExportToPDFApplicationform($('#dvPrintRecipt'), [], '', PDFPageType.Portrait, 'AdmissionFeeRecipt');
        ExportToPDFApplicationformfeesrec($('#dvPrintRecipt'), [], '', PDFPageType.Portrait, 'AdmissionFeeRecipt');
    });
    function ExportToPDFApplicationformfeesrec(DivName, TableColumnHide, ReportHeading, PageType, Applicationform) {
        debugger;
        /// <summary>Function to convert HTML to PDF.</summary>
        /// <param name="DivName">Name of the Div  with selector which contains all the html to print.</param>
        /// <param name="TableColumnHide" type="array">Pass array of columns to be hidden like [2,5,6] in a Table.</param>
        /// <param name="ReportHeading">Heading of the Report</param>
        /// <param name="PageType">Provide page type from enum PDFPageType </param>
        /// <returns>PDF File</returns>
        var PDFtable = DivName.find('table');
        if (TableColumnHide) {
            $.each(TableColumnHide, function (index, value) {
                PDFtable.find('td:nth-child(' + value + '),th:nth-child(' + value + ')').hide();  //hiding the columns of the table inside Div
            });
        }
        PDFtable.attr('border', '0');//applied 1 to table attribute border so we can get border in the Table 
        var printContents = '<html><head><title></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body><div style="font-size: 25px;" ><center>' + ReportHeading + '</center></div><br />' + DivName.html() + '</body></html>';

        $('body').prepend("<form method='post' action='/StudentBPharma/HomeB/PrintApplicationCallReceipt' id='tempForm2'><input type='hidden' name='data1' value='" + printContents + "' ><input type='hidden' name='dataname1' value='" + Applicationform + "' ><input type='hidden' name='PageType1' value='" + PageType + "' ></form>");
        $('#tempForm2').submit();
        $("tempForm2").remove();
        if (TableColumnHide) {
            $.each(TableColumnHide, function (index, value) {
                PDFtable.find('td:nth-child(' + value + '),th:nth-child(' + value + ')').show(); // //Again Showing the columns of the table inside Div
            });
        }
    }
    /// <summary>Enum for Page Type</summary>
    var PDFPageType = {
        Default: 'Default',
        Portrait: 'Portrait',
        Landscape: 'Landscape'
    }
</script>
<div class="container-fluid" style="display:none">
    <div class="sparkline8-list DocumentUpload">
        <div style="display:none">
            <div id="dvPrintRecipt">
                <div style="border-bottom:5px solid #05046c; margin-bottom:25px; text-align:center; padding:15px 0;"><img id="logo2" width="300px"></div>
                <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">
                    <h1 style="text-align:center; padding:15px 0; font-size:22px;">Admission Fees Receipt</h1>
                    <table width="600px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                                <tr>
                                                    <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Fees Submit</th>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Application No</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@Model.Item1.ApplicationNo </span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee; padding:5px 10px;">Session</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee;"><span id="FeeSession">@Model.Item1.Session</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Programme</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeTitle"></span>@Model.Item1.Title</td>
                                                </tr>
                                               
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Course</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee; "><span id="FeeSubjectcate">@Model.Item1.Course</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Subject</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;  "><span id="FeeCastCategory">@Model.Item1.Stream</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Caste Category</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">@Model.Item1.CastCategort</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.FeeStatus</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Fees Amount</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;background-color:#eee;"><span id="FeeIsStatus">@Model.Item1.Fees</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;">Processingfees (including GST) </td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">@Model.Item1.surcharge</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Total Amount</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;background-color:#eee;"><span id="FeeIsStatus">@(Convert.ToDecimal(Model.Item1.surcharge) + Convert.ToDecimal(Model.Item1.Fees))</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">College Name</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px; "><span id="FeeIsStatus">@Model.Item1.CollegeName</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <!-- / Subject -->

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;
                            @*<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                <tr>
                    <th colspan="3" align="left" valign="middle" style="border-bottom:1px solid #ccc;   color:#FFF; background-color:#44438e; color:#FFF; padding:5px 10px;" >College Fees Structure</th>
                </tr>
                @{ int j = 0; decimal amt1 = 0;}
                @foreach (var item in Model.Item2)
                {
                    j = j + 1;

                    <tr>
                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;font-weight:bold">@j</td>
                        <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;font-weight:bold">@item.headname</td>
                        <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">@item.amount </span></td>
                    </tr>
                    amt1 = amt1 + item.amount;

                }
                <tr>
                   
                    <td align="right" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;font-weight:bold" colspan="2">Total Fees</td>
                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;font-weight:bold"><span id="">@amt1</span></td>
                </tr>


            </table>
        </td>
    </tr>
                </table>*@
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                    <tr>
                                        <th colspan="2" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="bankName">@Model.Item1.FeeStatus</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Bank Reference Number</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="PayName">@Model.Item1.banktrxid</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;"> Transaction ID</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="cardNum">@Model.Item1.clienttrxid</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">@Model.Item1.banktxndate</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                        <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="Expires">@Model.Item1.PaymentType</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
