@model DataLayer.ExamForm
@{
    ViewBag.Title = "ExaminationAdmitCard";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}


<style>
    .validation {
        color: tomato;
    }

    .Minheight {
        min-height: 450px;
    }

    .textdesign {
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
    }

    .labletext {
        font-weight: normal;
    }

    .spacedesign {
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-family:Algerian;
    }

    .textce {
        text-align: center;
    }

    .btnstyle {
        float: right;
    }

    .btntext {
        color: white;
    }
</style>

<script>
    var username = '@DataLayer.ClsLanguage.GetCookies("enUserName")';
    var password = '@DataLayer.ClsLanguage.GetCookies("enPassword")';
</script>

<div class="container-fluid">

    <div class="row spacedesign ">

        @*<div class="panel panel-default">*@

        @*<div class="panel-body">*@
        @if (Model != null)
        {
            
            
            
            <div class="spacedesign sparkline12-list">
                <div style="width:100%; margin:auto; padding:0; font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif;padding:20px" id="printreport">


                    <div style="">
                        
                    
                            <div style="width:100%; margin:auto; padding:0; font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif;padding:20px" id="printreport">


                                <div style="width:800px; margin:auto; padding:10px; border:1px solid #333; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="font-family:20px; padding:5px 0;"><img src="http://collegeportal.DemoUniversity.com/images/mu-logo-white.png" width="250"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding:5px 0;font-weight:bold;"> @Model.CourseCategory @Model.YearName EXAMINATION </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center" valign="top" style="padding:5px 0;font-weight:bold;">
                                                Session : @Model.SessionName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="left" valign="top">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center" valign="top" style="font-size:18px; padding:5px 0;">
                                                <strong style="display:inline-block; background-color:#000; color:#FFF; padding:8px 10px; border-radius:3px;">DUMMY ADMIT CARD</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="left" valign="top">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" width="80%" style="padding-right:10px;">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td colspan="2" align="left" valign="top">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;" width="127">Registration No.</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;" width="246">&nbsp;@Model.RegistrationNo</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;" width="47">&nbsp;Year:</td>
                                                                                <td align="left" valign="top" style="padding:15px 0 0;  border-bottom:1px dotted #000;" width="218">&nbsp;@Model.Registrationyear</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td width="31%" align="left" valign="top" style="padding:15px 0 0;">Name (Block letter)</td>
                                                                    <td width="69%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">@Model.StudentName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;"> Date of birth</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.DOB
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;">@(Model.ftitle.ToString() == "20" ? " Father's " :  (Model.ftitle.ToString() == "21" ? "  Husband's  " : " Father's "))  Name</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.FatherName.ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:15px 0 0;"> Mother's Name</td>
                                                                    <td align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">&nbsp;@Model.MotherName.ToString()</td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="31%" align="left" valign="top" style="padding:15px 0 0;">Name of the College </td>
                                                                    <td width="69%" align="left" valign="top" style="padding:15px 0 0; border-bottom:1px dotted #000;">@Model.CollegeName.ToString()</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="right" valign="top" width="20%">
                                                            <div style="border:1px solid #333; width:110px; max-height:110px; padding:5px;margin:auto;"><img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.photo" width="110" height="110" style="max-height:100px"> </div>
                                                            <div style="border:1px solid #333;width:110px;padding:5px;margin:5px auto;">
                                                                <img src="@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.sign" style="max-width:100%;">
                                                            </div>

                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top" style="padding:0px 0 10px; font-weight:bold;">&nbsp;</td>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table style="border-spacing:0;width:100%;">
                                                                <thead>
                                                                <th colspan="3" style="border:1px solid grey;border-bottom:none;padding:5px;background:#404040;color:#fff;font-size:16px;font-weight:500;">Subject Details</th>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #333;">
                                                                            <tr>
                                                                                <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333; border-right:1px solid #333;">Honours</th>
                                                                                <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333; border-right:1px solid #333;">Subsidiary - I</th>
                                                                                <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333; border-right:1px solid #333;">Subsidiary - II</th>
                                                                                <th align="center" valign="middle" style="padding:5px; border-bottom:1px solid #333;">Composition</th>
                                                                            </tr>
                                                                            @if (Model.courseyearid == 8)
                                                                            {
                                                                            
                                                                            <tr>
                                                                                <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333; min-height:50px;">@Model.HonoursSubject</td>
                                                                                <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333;">Money and Banking</td>
                                                                                <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333;">Economics Development of India</td>
                                                                                <td align="center" valign="middle">@Model.Compulsory1Subject<br />@Model.Compulsory2Subject</td>
                                                                            </tr>
                                                                           
                                                                            }
                                                                            else
                                                                            {
                                                                           
                                                                            <tr>
                                                                                <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333; min-height:50px;">@Model.HonoursSubject</td>
                                                                                <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333;">@Model.Subsidiary1Subject</td>
                                                                                <td align="center" valign="middle" style="padding:5px; border-right:1px solid #333;">@Model.Subsidiary2Subject</td>
                                                                                <td align="center" valign="middle">@Model.Compulsory1Subject<br />@Model.Compulsory2Subject</td>
                                                                            </tr>
                                                                            
                                                                            }
                                                                            
                                                                        </table>

                                                                    </tr>


                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">
                                                            &nbsp
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">
                                                            &nbsp
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td align="left" valign="top" style="padding:15px 0 10px; font-weight:bold;"> Examination Details :</td>
                                                        <td align="left" valign="top">&nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="bottom" style="padding:10px 0 0;" width="150">Exam Roll No</td>
                                                                    <td align="left" valign="top" style="padding:10px 0 0; border-bottom:1px dotted #000;" width="350">&nbsp;<strong>@Model.RollNo</strong></td>
                                                                    <td align="left" valign="top" style="padding:10px 0 0;" width="200">is allowed to appear at the</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" colspan="2" style="padding:10px 0 0;border-bottom:1px dotted #000;text-align: center;" " width="300px"><strong>@Model.CourseCategory     @Model.YearName</strong>  </td>
                                                                    <td align="left" valign="top" style="padding:10px 0 0;" width="50">&nbsp;Exam</td>
                                                                    <td align="left" valign="top" style="padding:10px 0 0;  border-bottom:1px dotted #000;" width="300">&nbsp;<strong>@Model.Examyear</strong></td>
                                                                    <td align="left" valign="top" style="padding:10px 0 0;" width="170">&nbsp;Commencing on</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:10px 0 0;text-align-center; border-bottom:1px dotted #000;" width="230">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>@Model.ExamStartDate </strong></td>
                                                                    <td align="left" valign="top" style="padding:10px 0 0; " ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; at Munger University, Demo. Centre of Examination are shown below :-</td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" colspan="4" valign="top" style="padding:10px 0 0;  " width="250">&nbsp;Exam Center of Honours :-  <strong>@Model.ExamCenter</strong></td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" colspan="4" valign="top" style="padding:10px 0 0; " width="250">&nbsp;Exam Center of Subsidiary & Composition :-  <strong>@Model.subexamcenter </strong></td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">
                                                            &nbsp
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">
                                                            &nbsp
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" valign="top">
                                                            &nbsp
                                                        </td>
                                                    </tr>


                                                    @*<tr style="display:none">
                                                        <td colspan="3" align="left" valign="bottom" style="padding:15px 0 0;">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="center" valign="top" style="padding:5px 0;"><img src="https://admission.DemoUniversity.com/images/admitcard_LLB_Assitant.png" width="150"></td>
                                                                    <td align="center" valign="top" style="padding:5px 0;"><img src="https://admission.DemoUniversity.com/images/admitcard_LLBControllerofExamination.png" width="150"></td>

                                                                </tr>
                                                                <tr>
                                                                    <td width="33.33%" align="center" valign="top" style="padding:5px 0;">
                                                                        Assistant<br>
                                                                        (Exam. Section)
                                                                    </td>

                                                                    <td width="33.33%" align="center" valign="top" style="padding:5px 0;">
                                                                        Controller of Examinations
                                                                        <br>Munger University, Demo
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>*@

                                                    <tr>
                                                        <td colspan="2" align="left" valign="top">&nbsp;</td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>
                
                </div>
            </div>
            <div class="row">

                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center; padding-bottom:20px;">
                    <a href="#" id="btnPrint" onclick="return printdiv();" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </a>
                </div>*@
            </div>
        }
        @*</div>*@

        @*</div>*@
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#printreport").html();
            //console.log(contents);
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>.</title>');

            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
    });
</script>
